// .board24_body#board24_body{
//   margin: 0;
//   padding: 0; 
//   width: 100%;
//   // height: 100%;
  
// }
.board24_wrapper {
  /* min-height: 50vh; */
  width: 100%;
  /* height: auto; */
  position: relative;
  /* margin: 197px 0 0 240px; */
  background-color: rgba(0, 0, 0, 0);
min-width: 1110px;

}
.board24_page {
  /* position: absolute; */
  /* min-height: 50vh; */
  /* top: 0; */
  /* left: 0; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}
.board24_container {
width: 100%;
 @include jucb();
}


.board24_ibg { 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: none;
  }
}
.board24_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img{
    width: 100%;
    height: 100%;
  }
}
.board24_page{
a {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-decoration: none;
  @include anim(0.2s);
  &:hover {
    cursor: pointer;
    z-index: 5;
@include scale(1.03);
  }
}

ul, li{
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

}

// .img-svg {
//   width: 30px;
//   height: 30px;
// }

// .lock {
//   overflow: hidden;
// }
// .icon{
//   width: 30px;
//   height: 30px;
// }
.board24_active{
  opacity: 1;
visibility: visible;
display: block;

 }

.board24_flex-align{
    @include alic();
}



// ------------------------------------------------
#workarea-content {
  opacity: 1 !important;
   opacity: 1 !important;
  background: transparent;
  /* min-height: 100vh !important; */
  overflow: visible !important;
}
.workarea-content-paddings{
 padding: 0 27px 0 0 !important; 
  /* min-height: 100% !important; */
   /* min-height: 200vh !important; */
   height: auto !important;
   /* display: flex; */
   /* flex-wrap: nowrap; */
overflow-x: visible;
}
#workarea{
  overflow-y: visible !important;
}