include ../../common/mixins

section#person.board24_person.board24_person-meet.board24_person-meet-meeting.board24_person-about-news
  .board24_person__body
    +button-blue("Создать заседание","#!")
    .board24_person__cabinet.board24_m15.board24_person-cabinet
      .board24_person-cabinet__body.board24_fdc
        .board24_ts-34 Структура компании
        .board24_ts-34 Телефонный справочник
        .board24_ts-34 Дни рождения
        .board24_m15
        .board24_ts.board24_alic
          span Доска почета
        .board24_ts.board24_alic 
          span Кадровые изменения
        .board24_ts.board24_alic 
          span Эффективность
        .board24_ts.board24_alic 
          span Фотогаллерея
        .board24_person-cabinet__set.board24_ts-48.board24_alic 
          span.icon-meetings-1
            span.path1
            span.path2
          span.board24_point Настроить меню