#board24_poup-mob-poll.board24_poup-assignment.board24_poup-mob-poll
  .board24_poup-assignment__overlay
  .board24_poup-assignment__body
    span.board24_cross.icon-close2
    .board24_tab-item__question
      .board24_middle-inter-1__title  Опрос 
      .board24_middle-inter-1__disiption 1. Опрос о приобретении дополнительного оборудования
      hr
      .board24_question-drop-down__title
        +avatar-name()
      form.board24_question-drop-down__check
        .board24_question-drop-down__text 1. Вопрос о приобрeтении дополнительного оборудования
        .board24_plaha 
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-14"  value="1"       id="inter-11")
            label(for="inter-11") За  
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-14"  value="2"       id="inter-12") 
            label(for="inter-12") Против 
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-14"  value="3"       id="inter-13") 
            label(for="inter-13") Воздержался 
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-14"  value="4"       id="inter-14") 
            label(for="inter-14") Дополнительный вариант ответа  
        .board24_question-drop-down__text 1. Вопрос о приобрeтении дополнительного оборудования
        .board24_plaha
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-18"    value="5"   id="inter-15")
            label(for="inter-15") За  
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-18"    value="6"   id="inter-16") 
            label(for="inter-16") Против 
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-18"    value="7"   id="inter-17") 
            label(for="inter-17") Воздержался 
          .board24_flex
            input.custom-checkbox(type="radio"  name="inter-18"    value="8"   id="inter-18") 
            label(for="inter-18") Дополнительный вариант ответа  
          
          .board24_button-blue
            input.board24_submit(type="submit" value="Голосовать")  
      a.board24_tab-item__look Смотреть результаты