.board24_mob-button_active.board24_mob-button-small.board24_mob-button_tasks
  .board24_mob-button_company__title_small.board24_mob-button.board24_mob-button_employees Задачи группы
    span.icon-arrow_drop_down
  .board24_mob-errand.board24_mob-drop.board24_m10 
      .board24_mob-errand__body
        .board24_mob-errand__list.board24_mob-errand-list
          .board24_mob-errand-list__body.board24_m10  
            .board24_meet-content__line
              .board24_meet-content-line__body
                .board24_meet-content-line__text.board24_ts-22 Список поручений
            .board24_meet-content__line
              .board24_meet-content-line__body
                forma.board24_inter-forma.board24_flex 
                  .board24_flex.board24_inter-forma__item 
                    input.custom-checkbox(type="checkbox" name="mobmeetings-1" value="1"    id="mobmeetings-1")
                    label.board24_ts-7-b(for="mobmeetings-1")
                .meet-content-line__img
                  span.icon-meetings-1
                    span.path1
                    span.path2
                .meet-content-line__text.board24_ts-24 Название

            +meet-content__line("mobmeetings1","Заседение совета директоров")
            +meet-content__line("mobmeetings2","Заседание 21 мая")
            +meet-content__line("mobmeetings3","Заседание № 458776 23 мая")
            +meet-content__line("mobmeetings4","Акционеры крупнейших компаний")
            +meet-content__line("mobmeetings5","Заседание 21 мая")
            +meet-content__line("mobmeetings6","Заседание № 458776 23 мая")
            +meet-content__line("mobmeetings7","Акционеры крупнейших компаний")
            +meet-content__line("mobmeetings8","Заседание № 458776 23 мая")
            +meet-content__line("mobmeetings9","Акционеры крупнейших компаний")
            +meet-content__line("mobmeetings10","Заседание № 458776 23 мая")