.board24_mob-button_active.board24_mob-button-small.board24_mob-button_calendar
  .board24_mob-button_company__title_small.board24_mob-button.board24_mob-button_employees Календарь
    span.icon-arrow_drop_down
  .board24_mob-drop
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolore dicta quidem nesciunt non fugit similique, doloribus expedita illo vel ex velit at soluta consequatur fugiat doloremque ducimus eius nisi.