.board24_mob-button_active.board24_mob-button-small.board24_mob-button_materiels
  .board24_mob-button_company__title_small.board24_mob-button.board24_mob-button_employees Материалы
    span.icon-arrow_drop_down
  .board24_mob-drop
    .board24_mob-drop__body
      .board24_mob-drop__button
        +button-empty("Добавить","#!")
      div.board24_mob-drop__items
        .board24_mob-drop__item
          a.board24_mob-drop__img(href="#!")
            img(src="assets/img/mob-main/img-10.png",alt="img") 
          .board24_jucs
            img.board24_mob-drop__icon(src="assets/img/mob-main/img-9.svg",alt="img")
            .board24_mob-drop__text Заседание Совета Дир...
        .board24_mob-drop__item
          a.board24_mob-drop__img(href="#!")
            img(src="assets/img/mob-main/img-10.png",alt="img") 
          .board24_jucs
            img.board24_mob-drop__icon(src="assets/img/mob-main/img-9.svg",alt="img")
            .board24_mob-drop__text Заседание Совета Дир...
        .board24_mob-drop__item
          a.board24_mob-drop__img(href="#!")
            img(src="assets/img/mob-main/img-10.png",alt="img") 
          .board24_jucs
            img.board24_mob-drop__icon(src="assets/img/mob-main/img-9.svg",alt="img")
            .board24_mob-drop__text Заседание Совета Дир...
        .board24_mob-drop__item
          a.board24_mob-drop__img(href="#!")
            img(src="assets/img/mob-main/img-10.png",alt="img") 
          .board24_jucs
            img.board24_mob-drop__icon(src="assets/img/mob-main/img-9.svg",alt="img")
            .board24_mob-drop__text Заседание Совета Дир...
        .board24_mob-drop__item
          a.board24_mob-drop__img(href="#!")
            img(src="assets/img/mob-main/img-10.png",alt="img") 
          .board24_jucs
            img.board24_mob-drop__icon(src="assets/img/mob-main/img-9.svg",alt="img")
            .board24_mob-drop__text Заседание Совета Дир...

