.board24__mob-1-employees__card.board24__mob-1-card
  .board24__mob-1-card__body
    .board24__mob-1-card__img
      +img-bg("assets/img/mob-main/img-6.png","img")
    .board24__mob-1-card__title Константинов Константин
    .board24__mob-1-card__string
      span  Должность: &nbsp; 
      span  Юрист
    .board24__mob-1-card__string
      span  Подразделение:  &nbsp; 
      span  Служба безопасности 
    .board24__mob-1-card__string
      span  Рабочий телефон: &nbsp; 
      span  +7(999) 987-65-43
    .board24__mob-1-card__string
      span  Внутренний телефон:  &nbsp;
      span  123456
    .board24__mob-1-card__string
      span  День рождения:  &nbsp; 
      span  11.08.1990
    .board24__mob-1-card__string
      span  Руководитель: &nbsp;
      span  Иванов Иван
    .board24__mob-1-card__string
      span  Дата выхода на работу:  &nbsp;
      span  11.11.2019
    .board24__mob-1-card__string
      span  Организация: &nbsp;
      span  Board24
    .board24_m17
    +button-empty("Написать сообщение","#!")
    .board24_m10
    +button-empty("Видеоконференция","#!")