.board24_middle-plaza__line_plaha.board24_line-plaha.board24_m8
  .board24_alic.board24_jucb
    +button-color("Проведение","apple-green","promo.html")
    a.board24_line-plaha__miting.board24_ts-37(href="#!") Онлайн встреча
  .board24_line-plaha__text.board24_m17
    h3 Заседание Совета директоров от 31 мая порядковый ...
  .board24_line-plaha__data.board24_m6
    span.board24_line-plaha__light Дата:&nbsp;
    span.board24_line-plaha__dark December 23, 2018
  .board24_line-plaha__download.board24_alic.board24_m19  
    a.board24_line-plaha__text-link.board24_ts-36(href="#!") Скачать файлы одним архивом
    .board24_line-plaha__img1
      img(src="assets/img/main/Vector-1.svg",alt="img")
      img(src="assets/img/main/Vector-2.svg",alt="img")
    +button-blue-small("Перейти к заседанию","group.html")