

section#home.home
  .home__wrapper
    .ibg.bg
      img(src="assets/img/bg-main.png",alt="img")
    .container
      .home__body
        include ../includes/main/menu
        include ../includes/main/middle
        include ../includes/main/person 



