

section#home.board24_home
  .board24_home__wrapper
    .board24_ibg.board24_bg
      img(src="assets/img/bg-main.png",alt="img")
    .board24_container
      .board24_home__body
        include ../includes/main/menu
        include ../includes/main/middle
        include ../includes/main/person 



