.r{
    background-color: rgba(180,41,39,0.4);
}
.b{
  background-color: rgba(74,79,180,0.4);
}
.g{
    background-color: rgba(80,231,63,0.4);}
.a{
  background-color: rgba(91,222,231,0.8);
}

.border {
 border: 1px solid #05a20e;
} 
