include ../../common/mixins

section#person.board24_person.board24_person-meet
  .board24_person__body
    +button-blue("Создать заседание","#!")
    .board24_person__cabinet.board24_m15.board24_person-cabinet
      .board24_person-cabinet__body.board24_fdc
        .board24_person-cabinet__band.board24_center 
          a.board24_avatar-name(href="#!")
            img(src="assets/img/main/image-1.png",alt="img")
            .board24_avatar-name__name
              p.board24_ts-34 Эдил Нургожин
              p.board24_ts-37 Председатель Совета Директоров 
        .board24_person-cabinet__band.board24_m8.board24_center  
          a.board24_avatar-name(href="#!")
            img(src="assets/img/main/image-1.png",alt="img")
            .board24_avatar-name__name
              p.board24_ts-34 Индира Джунусова
              p.board24_ts-37 Корпоративный секретарь
        .board24_person-cabinet__band1.board24_m20
          span.board24_ts-8 Форма:
          span.board24_ts-9 &nbsp; Очное
        .board24_person-cabinet__band2
          span.board24_ts-8 Место:
          span.board24_ts-9 &nbsp; Переговорная
        .board24_person-cabinet__band3
          span.board24_ts-8 Начало:
          span.board24_ts-9 &nbsp; 12.02.2020 | 17:00
        .board24_person-cabinet__band4
          span.board24_ts-8 Кол. орган:
          span.board24_ts-9 &nbsp; Совет директоров
        .board24_person-cabinet__band5.board24_alic
          span.board24_ts-8 Статус:
          span.board24_person-cabinet__bar  
          span.board24_person-cabinet__bar1 

    .board24_person__cabinet.board24_m15.board24_person-cabinet
      .board24_person-cabinet__body.board24_person-cabinet__body_narrow.board24_fdc
        .board24_person-cabinet__title.board24_alic.board24_jucb 
          .board24_ts-22 Печатные формы
          span.icon-arrow_drop_down.icon-arrow_drop_down_rot  
        #board24_drop-narrow
          .board24_person-cabinet__plaha.board24_m18  
            .board24_ts-3 Бюллетень для голосования
            .board24_ts-32 DOCX, PDF 
            .board24_line-plaha__img1
              img(src="assets/img/main/Vector-1.svg",alt="img")
              img(src="assets/img/main/Vector-2.svg",alt="img")
          .board24_person-cabinet__plaha.board24_m4  
            .board24_ts-3 Протокол заседания
            .board24_ts-32 DOCX, PDF 
            .board24_line-plaha__img1
              img(src="assets/img/main/Vector-1.svg",alt="img")
              img(src="assets/img/main/Vector-2.svg",alt="img")
          .board24_person-cabinet__plaha.board24_m4  
            .board24_ts-3 Письменное мнение
            .board24_ts-32 DOCX, PDF 
            .board24_line-plaha__img1
              img(src="assets/img/main/Vector-1.svg",alt="img")
              img(src="assets/img/main/Vector-2.svg",alt="img")
    
    .board24_person__cabinet.board24_m15.board24_person-cabinet
      .board24_person-cabinet__body.board24_person-cabinet__body_wide.board24_fdc
        .board24_person-cabinet__title.board24_alic.board24_jucb 
          .board24_ts-22 Участники
          span.icon-arrow_drop_down
        #board24_drop-wide
          form.board24_person-cabinet__search.board24_alic.board24_m18
              span.icon-Vector
              input.board24_ts-8(type="search" name="q" placeholder="Найти участника")
 
          .board24_person-cabinet__band.board24_auto.board24_center.board24_m19 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr
          .board24_person-cabinet__band.board24_auto.board24_center 
            a.board24_avatar-name(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_avatar-name__name
                p.board24_ts-34 Lindsey Stroud
                p.board24_ts-12 Управляющий директор  
            hr








