include ../../common/mixins

section.board24_middle.board24_news_middle
  .board24_middle__body
    //- .board24_middle__title 
    //-   h2 BOARD 24
    .board24_middle__plaza.board24_middle-plaza
      .board24_middle-plaza__body
        .board24_middle-plaza__stretsh
          .board24_middle-plaza__title.Text-Style-22 Новости компании 
          .board24_middle-plaza__line
            a.board24_middle-plaza__date(href="#!")
              h6 PR | 13.08.2019
            a.board24_middle-plaza__header(href="#!")
              h5 QaztechVentures подписал меморандум с Boundless Group
            a.board24_middle-plaza__img(href="#!")
              .board24_ibg.board24_bg
                img(src="assets/img/main/image-2.png",alt="img")
            .board24_middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и интеграцию отечественных стартапов в глобальную экосистему инноваций. Миссия Boundless Group заключается в том, что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину, профессионализм и предпринимательские навыки у американских коллег.
          .board24_middle-plaza__line
            a.board24_middle-plaza__date(href="#!")
              h6 PR | 13.08.2019
            a.board24_middle-plaza__header(href="#!") 
              h5 QaztechVentures подписал меморандум с Boundless Group 
            a.board24_middle-plaza__img(href="#!")
              .board24_ibg.board24_bg
                img(src="assets/img/main/image-2.png",alt="img")
            .board24_middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и интеграцию отечественных стартапов в глобальную экосистему инноваций. Миссия Boundless Group заключается в том, что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину, профессионализм и предпринимательские навыки у американских коллег.




