.board24_line-plaha__question-area.board24_alic.board24_jucb
  .board24_line-plaha__text1 Бюллетень
  .board24_line-plaha__item
    a(href="#!").board24_line-plaha__button
      span За 
  .board24_line-plaha__item
    a(href="#!").board24_line-plaha__button
      span Против 
  .board24_line-plaha__item.board24_jucb.board24_alic
    a(href="#!").board24_line-plaha__button
      span Воздержался 
  a.board24_line-plaha__question(href="#!")
    b ?
.board24_line-plaha__text2 Особое мнение
.board24_line-plaha__question-area.board24_line-plaha__question-area_second  
  .board24_inter-comments__block
    .board24_inter-comments__plaha
      textarea.board24_ts( type="text"  placeholder=" Lorem ipsum dolor sit amet, ut per pertinax assueverit, dissentias honestan. Ei vim feugait aliquando, mei enim insolens ut." )
      img.board24_inter-plaza__link(src="assets/img/inter/edit.svg",alt="img") 


.board24_line-plaha__save Версия сохранена от 12:43, 11.09.2019
a.board24_line-plaha__button2(href="#!")  Сохранить особое мнение
.board24__mob-2-group__tabs
  include ../mob-group/Отчеты

.board24_m10

.board24__mob-2-group__tabs
  //- include ../includes/mob-group/Задачи-группы
  .board24_mob-button_active.board24_mob-button-small.board24_mob-button_tasks
    .board24_mob-button_company__title_small.board24_mob-button.board24_mob-button_employees Задачи 
      i.icon-arrow_drop_down
    .board24_mob-errand.board24_mob-drop.board24_m10 
        .board24_mob-errand__body
          .board24_mob-errand__list.board24_mob-errand-list
            .board24_mob-errand-list__body 
              .board24_meet-content__line
                .board24_meet-content-line__body
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="mobmeetings-1" value="1"    id="mobmeetings-1")
                      label.board24_ts-7-b(for="mobmeetings-1")
                  .meet-content-line__img
                    //- img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
                    i.icon-meetings-1
                      b.path1
                      b.path2
                  .meet-content-line__text.board24_ts-24 Название
              +meet-content__line("mobmeetings1","Заседение совета директоров")
              +meet-content__line("mobmeetings2","Заседание 21 мая")
              +meet-content__line("mobmeetings3","Заседание № 458776 23 мая")
              +meet-content__line("mobmeetings4","Акционеры крупнейших компаний")
              +meet-content__line("mobmeetings5","Заседание 21 мая")
              +meet-content__line("mobmeetings6","Заседание № 458776 23 мая")
              +meet-content__line("mobmeetings7","Акционеры крупнейших компаний")
              +meet-content__line("mobmeetings8","Заседание № 458776 23 мая")
              +meet-content__line("mobmeetings9","Акционеры крупнейших компаний")
              +meet-content__line("mobmeetings10","Заседание № 458776 23 мая")