.board24_meet__nav.board24_meet-nav.board24_jucb  
  .board24_meet-nav__body.board24_flex.board24_alic.border 
    h2 Поручения
    
    form(action="")
    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Дата
          span.icon-arrow_drop_down
          
            input#board24_meet-date.board24_ts-7(placeholder='Введите дату')

    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Ответственный
          span.icon-arrow_drop_down
          
            input#board24_meet-date.board24_ts-7(placeholder='Введите ответственного')
    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Секретарь
          span.icon-arrow_drop_down
          
            input#board24_meet-date.board24_ts-7(placeholder='Введите секретаря')
    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Заседание 
          span.icon-arrow_drop_down
          
            input#board24_meet-date.board24_ts-7(placeholder='Введите заседание') 
    
    //- +button-empty("Найти","#!")
    .board24_button-empty
      input.board24_button-empty__link(type='submit', name='submit', value='Найти')