.board24_meet__nav.board24_meet-nav.board24_jucb  
  .board24_meet-nav__body.board24_flex.board24_alic.border 
    h2 Поручения
    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Дата
          span.icon-arrow_drop_down
    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Ответственный
          span.icon-arrow_drop_down
    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Секретарь
          span.icon-arrow_drop_down
    //- ----bot
    .board24_bot
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-7 Заседание 
          span.icon-arrow_drop_down
    +button-empty("Найти","#!")
  //- +button-blue("Создать заседание","#!") 
  //- .board24_button-blue#board24_create-meeting1
  //-   a.board24_button-blue__link(href=link) Создать заседание