include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings
  .board24_meet__body
    include meetings-nav 
    .board24_meet__content.board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__line.board24_meet-content__line_high.meet-content-line 
          .meet-content-line__body.board24_jucs.board24_alic 
            .meet-content-line__text.board24_ts-22 Список поручений
            .meet-content-line__text1.board24_ts-39 Задач требующих оперативной реакции
            .meet-content-line__mark.board24_ts-31.board24_point  23
       
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings1" value="1"   id="meetings1")
                label.board24_ts-7-b(for="meetings1")
            .meet-content-line__img-high
              span.icon-meetings-1
                span.path1
                span.path2
            .meet-content-line__text.board24_ts-24 Название
            .meet-content-line__type.board24_ts-24 Дата
            .meet-content-line__organ.board24_ts-24 Ответственный
                      //- ------------------------------------------------------------------
      
        +desk-meet-line("meetings2","Заседание 21 мая","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings3","Заседение совета директоров","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings15","Акционеры крупнейших компаний","Dec 14, 2018","Nicci Troiani")
        +desk-meet-line("meetings4","Заседение совета директоров","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings5","Заседение совета директоров","Dec 14, 2018","Nicci Troiani")
        +desk-meet-line("meetings6","Акционеры крупнейших компаний","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings7","Заседание 21 мая","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings8","Заседание 21 мая","Dec 14, 2018","Nicci Troiani")
        +desk-meet-line("meetings9","Акционеры крупнейших компаний","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings10","Заседание 21 мая","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings11","Заседание 21 мая","Dec 14, 2018","Nicci Troiani")
        +desk-meet-line("meetings12","Акционеры крупнейших компаний","Dec 14, 2018","Lindsey Stroud")
        +desk-meet-line("meetings13","Заседание 21 мая","Dec 14, 2018","Nicci Troiani")
        +desk-meet-line("meetings14","Заседание 21 мая","Dec 14, 2018","Lindsey Stroud")
       









