include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings
  .board24_meet__body
    include meetings-nav 
    .board24_meet__content.board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__line.board24_meet-content__line_high.meet-content-line 
          .meet-content-line__body.board24_jucs.board24_alic 
            .meet-content-line__text.board24_ts-22 Список поручений
            .meet-content-line__text1.board24_ts-39 Задач требующих оперативной реакции
            .meet-content-line__mark.board24_ts-31.board24_point  23
       
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings1" value="1"   id="meetings1")
                label.board24_ts-7-b(for="meetings1")
            .meet-content-line__img-high
              span.icon-meetings-1
                span.path1
                span.path2
            .meet-content-line__text.board24_ts-24 Название
            .meet-content-line__type.board24_ts-24 Дата
            .meet-content-line__organ.board24_ts-24 Ответственный
     
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings2" value="1"   id="meetings2")
                label.board24_ts-7-b(for="meetings2")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Lindsey Stroud
            span.board24_point.icon-more
       
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings3" value="1"   id="meetings3")
                label.board24_ts-7-b(for="meetings3")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Lindsey Stroud
            span.board24_point.icon-more
       
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings15" value="1"   id="meetings15")
                label.board24_ts-7-b(for="meetings15")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings4" value="1"   id="meetings4")
                label.board24_ts-7-b(for="meetings4")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Lindsey Stroud
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings5" value="1"   id="meetings5")
                label.board24_ts-7-b(for="meetings5")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings6" value="1"   id="meetings6")
                label.board24_ts-7-b(for="meetings6")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Lindsey Stroud
            span.board24_point.icon-more
       


        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings7" value="1"   id="meetings7")
                label.board24_ts-7-b(for="meetings7")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings8" value="1"   id="meetings8")
                label.board24_ts-7-b(for="meetings8")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings9" value="1"   id="meetings9")
                label.board24_ts-7-b(for="meetings9")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings10" value="1"   id="meetings10")
                label.board24_ts-7-b(for="meetings10")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings11" value="1"   id="meetings11")
                label.board24_ts-7-b(for="meetings11")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings12" value="1"   id="meetings12")
                label.board24_ts-7-b(for="meetings12")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings13" value="1"   id="meetings13")
                label.board24_ts-7-b(for="meetings13")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       

        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meetings14" value="1"   id="meetings14")
                label.board24_ts-7-b(for="meetings14")
            .meet-content-line__img
              img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
            .meet-content-line__text.board24_ts-38 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Dec 14, 2018
            a.board24_avatar-name.board24_auto(href="#!")
              img(src="assets/img/main/image-1.png",alt="img")
              .board24_board24_avatar-name__name.board24_alic
                .board24_ts-12 Nicci Troiani
            span.board24_point.icon-more
       


.meet-content-line__tab
  .board24_ts-47 Skype
    span.board24_point.icon-more
  .board24_ts-35 December 22, 2018
  .board24_ts-38.board24_m3 Заседение директоров№123   456 789...
  a.board24_avatar-name.board24_alic.board24_auto(href="#!")
    img(src="assets/img/main/image-1.png",alt="img")
    .board24_board24_avatar-name__name
      span.board24_ts-12 George Fields
      br
      span.board24_ts-41 Совет директоров 

  .meet-content-line__tab-sub
    .board24_ts-37.board24_point 
      span.icon-Vector-5 
      span Завершить задачу
    .board24_ts-37.board24_point 
      span.icon-Vector-5 
      span Начать выполнение задачи
    .board24_ts-37.board24_point 
      span.icon-Vector-5 
      span Удалить задачу
    span.board24_point.icon-more






