include ../../common/mixins

section#person.board24_person.board24_person-meet.board24_person-meet-meeting
  .board24_person__body
    +button-blue("Создать заседание","#!")
    .board24_person__cabinet.board24_m15.board24_person-cabinet
      .board24_person-cabinet__body.board24_fdc
        .board24_ts-34 Список
        .board24_ts-34 Мой план
        .board24_ts-34 Гант
        .board24_m20
        .board24_m15
        .board24_ts.board24_alic
          span Все
          .meet-content-line__mark.board24_ts-31.board24_point  704
        .board24_ts.board24_alic 
          span Делаю
          .meet-content-line__mark.board24_ts-31.board24_point  23
        .board24_ts.board24_alic 
          span Помогаю
          .meet-content-line__mark.board24_ts-31.board24_point  9
        .board24_ts.board24_alic 
          span Поручил
        .board24_ts.board24_alic 
          span Наблюдаю
          .meet-content-line__mark.board24_ts-31.board24_point  704
        .board24_m20
        .board24_m10
        .board24_person-cabinet__set.board24_ts-48.board24_alic 
          span.icon-meetings-1
            span.path1
            span.path2
          span.board24_point Настроить меню










