include ../../common/mixins

section#person.board24_person.board24_person-meet.board24_person-meet-meeting
  .board24_person__body
    +button-blue("Создать заседание","#!")
    .board24_person__cabinet.board24_m15.board24_person-cabinet
      .board24_person-cabinet__body.board24_fdc
        .board24_ts-34 Список
        .board24_ts-34 Мой план
        .board24_ts-34 Гант
        .board24_m20
        .board24_m15
        .board24_ts Все
        .board24_ts Делаю
        .board24_ts Помогаю
        .board24_ts Поручил
        .board24_ts Наблюдаю
        .board24_m20
        .board24_m10
        .board24_person-cabinet__set.board24_ts-48.board24_alic 
          span.icon-meetings-1
            span.path1
            span.path2
          span.board24_point Настроить меню










