#board24_item-calendar.board24_line-detail__tab-item.board24_tab-item.board24_tab-js
    .board24_tab-item__title Календарь
      span.calendar-icomoon.icon-arrow_drop_down
      .board24_tab-item__bell(href="#!") 
        img(src="assets/img/group/bell.svg",alt="img")
    .board24_tab-item__drop-down.board24_item-js
      .board24_tab-item__button
        +button-empty("Добавить","home.html") 
