#board24_item-interview.board24_line-detail__tab-item.board24_tab-item.board24_tab-item__interview.board24_tab-js
  .board24_tab-item__title Опрос
    span.interview-icomoon.icon-arrow_drop_down
    .board24_tab-item__bell(href="#!") 
      img(src="assets/img/group/bell.svg",alt="img")
  
  .board24_tab-item__drop-down.board24_item-js
    .board24_tab-item__button-interview
      +button-empty("Создать опрос","home.html")  
    .board24_wrap-question
      .board24_tab-item__question.js-question
        span 1. Опрос о приобретении дополнительного оборудования
        span.board24_interview-icomoon-del.icon-arrow_drop_down 
        
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета дир
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="1"   id="yes")
                label(for="yes") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="2"   id="no") 
                label(for="no") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="3"   id="abstained") 
                label(for="abstained") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="4"   id="else") 
                label(for="else") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="5" id="yes1")
                label(for="yes1") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="6" id="no1") 
                label(for="no1") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="7" id="abstained1") 
                label(for="abstained1") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="8" id="else1") 
                label(for="else1") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты
        hr 
      
      
      .board24_tab-item__question.js-question
        span 2. Опрос об организации рабочего процесса
        span.board24_interview-icomoon-del.icon-arrow_drop_down
        span.board24_interview-new New
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета дир
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="1"   id="yes")
                label(for="yes") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="2"   id="no") 
                label(for="no") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="3"   id="abstained") 
                label(for="abstained") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="4"   id="else") 
                label(for="else") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="5" id="yes1")
                label(for="yes1") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="6" id="no1") 
                label(for="no1") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="7" id="abstained1") 
                label(for="abstained1") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="8" id="else1") 
                label(for="else1") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты
        hr
      .board24_tab-item__question.js-question
        span 3. Опрос о рабочем процессе
        span.board24_interview-icomoon-del.icon-arrow_drop_down
        
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета дир
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="1"   id="yes")
                label(for="yes") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="2"   id="no") 
                label(for="no") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="3"   id="abstained") 
                label(for="abstained") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="4"   id="else") 
                label(for="else") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="5" id="yes1")
                label(for="yes1") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="6" id="no1") 
                label(for="no1") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="7" id="abstained1") 
                label(for="abstained1") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="8" id="else1") 
                label(for="else1") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты 
        hr 
        
      .board24_tab-item__question.js-question
        span 4. Опрос о закупках 
        span.board24_interview-icomoon-del.icon-arrow_drop_down
        
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета дир
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="1"   id="yes")
                label(for="yes") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="2"   id="no") 
                label(for="no") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="3"   id="abstained") 
                label(for="abstained") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="4"   id="else") 
                label(for="else") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="5" id="yes1")
                label(for="yes1") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="6" id="no1") 
                label(for="no1") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="7" id="abstained1") 
                label(for="abstained1") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen1"    value="8" id="else1") 
                label(for="else1") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты 
        hr 