.board24_line-detail__tab-item.board24_tab-item.board24_tab-item__interview.board24_tab-js
  .board24_tab-item__title Опрос
    span.icon-arrow_drop_down
    .board24_tab-item__bell(href="#!") 
      img(src="assets/img/group/bell.svg",alt="img")
  
  .board24_tab-item__drop-down.board24_item-js
    .board24_tab-item__button-interview
      +button-empty("Создать опрос","home.html")  
    .board24_wrap-question
      .board24_tab-item__question.js-question
        span.q-js 1. Опрос о приобретении дополнительного оборудования
        span.icon-arrow_drop_down 
        
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета директоров
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="1"   id="yes")
                label(for="yes") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="2"   id="no") 
                label(for="no") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="3"   id="abstained") 
                label(for="abstained") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen"   value="4"   id="else") 
                label(for="else") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dze1"    value="5" id="yes1")
                label(for="yes1") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dze1"    value="6" id="no1") 
                label(for="no1") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dze1"    value="7" id="abstained1") 
                label(for="abstained1") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dze1"    value="8" id="else1") 
                label(for="else1") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты
        hr 
      
      
      .board24_tab-item__question.js-question
        span.q-js 2. Опрос об организации рабочего процесса
        span.icon-arrow_drop_down
        span.board24_interview-new New
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета дир
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen2"   value="11"   id="yes2")
                label(for="yes2") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen2"   value="21"   id="no2") 
                label(for="no2") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen2"   value="31"   id="abstained2") 
                label(for="abstained2") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen2"   value="41"   id="else2") 
                label(for="else2") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen3"    value="53" id="yes3")
                label(for="yes3") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen3"    value="63" id="no3") 
                label(for="no3") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen3"    value="73" id="abstained3") 
                label(for="abstained3") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen3"    value="83" id="else3") 
                label(for="else3") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты
        hr
      .board24_tab-item__question.js-question
        span.q-js 3. Опрос о рабочем процессе
        span.icon-arrow_drop_down
        .board24_100
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета дир
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen4"   value="14"   id="yes4")
                label(for="yes4") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen4"   value="24"   id="no4") 
                label(for="no4") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen4"   value="34"   id="abstained4") 
                label(for="abstained4") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen4"   value="44"   id="else4") 
                label(for="else4") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen5"    value="55" id="yes5")
                label(for="yes5") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen5"    value="65" id="no5") 
                label(for="no5") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen5"    value="75" id="abstained5") 
                label(for="abstained5") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen5"    value="85" id="else5") 
                label(for="else5") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты 
        hr 
        
      .board24_tab-item__question.js-question
        span.q-js 4. Опрос о закупках 
        span.icon-arrow_drop_down
        
        .board24_tab-item__question-drop-down.board24_question-drop-down.js-question-drop
          .board24_question-drop-down__title
            a.board24_question-drop-down__avatar(href="#!")
              img(src="assets/img/group/image-3.png",alt="img") 
            .board24_question-drop-down__name 
              p Эдил Нургожин
              p Председатель Совета дир
          form.board24_question-drop-down__check
            .board24_question-drop-down__text 1. Вопрос о приобритении    дополнительного оборудования
            .board24_plaha 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen6"   value="16"   id="yes6")
                label(for="yes6") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen6"   value="26"   id="no6") 
                label(for="no6") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen6"   value="36"   id="abstained6") 
                label(for="abstained6") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen6"   value="46"   id="else6") 
                label(for="else6") Дополнительный вариант ответа  
            .board24_question-drop-down__text 2. Вопрос о приобритении  дополнительного оборудования
            .board24_plaha
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen7"    value="57" id="yes7")
                label(for="yes7") За  
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen7"    value="67" id="no7") 
                label(for="no7") Против 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen7"    value="77" id="abstained7") 
                label(for="abstained7") Воздержался 
              .board24_flex
                input.custom-checkbox(type="radio"  name="dzen7"    value="87" id="else7") 
                label(for="else7") Дополнительный вариант ответа  
              .board24_button-blue
                input.board24_submit(type="submit" value="Голосовать")  
          a.board24_tab-item__look Смотреть результаты 
        hr 