.board24_line-detail__tab-item.board24_tab-item.board24_tab-item-news.board24_tab-js
  .board24_tab-item__title Новости 
    span.icon-arrow_drop_down 
    .board24_tab-item__bell(href="#!") 
      img(src="assets/img/group/bell.svg",alt="img")
  .board24_tab-item__drop-down.board24_item-js
    .board24_tab-item__button
      +button-empty("Добавить","home.html") 
    .board24_tab-item__body
      .board24_middle-plaza__line
        a.board24_middle-plaza__date(href="#!")
          h6 PR | 13.08.2019
        a.board24_middle-plaza__header(href="#!")
          h5 QaztechVentures подписал меморандум с Boundless Group
        a.board24_middle-plaza__img(href="#!")
          .board24_ibg.board24_bg
            img(src="assets/img/main/image-2.png",alt="img")
        .board24_middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и интеграцию отечественных стартапов в глобальную экосистему инноваций. Миссия Boundless Group заключается в том, что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину, профессионализм и предпринимательские навыки у американских коллег.
      .board24_middle-plaza__line
        a.board24_middle-plaza__date(href="#!")
          h6 PR | 13.08.2019
        a.board24_middle-plaza__header(href="#!") 
          h5 QaztechVentures подписал меморандум с Boundless Group 
        a.board24_middle-plaza__img(href="#!")
          .board24_ibg.board24_bg
            img(src="assets/img/main/image-2.png",alt="img")
        .board24_middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и интеграцию отечественных стартапов в глобальную экосистему инноваций. Миссия Boundless Group заключается в том, что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину, профессионализм и предпринимательские навыки у американских коллег.