#board24_item-tasks.board24_line-detail__tab-item.board24_tab-item.board24_tab-js
  .board24_tab-item__title Задачи группы
    span.tasks-icomoon.icon-arrow_drop_down
    .board24_tab-item__bell(href="#!") 
      img(src="assets/img/group/bell.svg",alt="img")
  .board24_tab-item__drop-down.board24_item-js
    .board24_tab-item__button
      +button-empty("Добавить","home.html") 
    .board24_tab-item__body.board24_flex
      .board24_tab-item__folder
        a.board24_tab-item__link(href="#!")
          .board24_tab-item__img
            img(src="assets/img/group/folder.png",alt="img") 
          .board24_tab-item__text 
            .board24_tab-item__icon
              img(src="assets/img/group/img-3.png",alt="img")  
            span Заседание Совета Дир... 
      .board24_tab-item__folder
        a.board24_tab-item__link(href="#!")
          .board24_tab-item__img
            img(src="assets/img/group/folder.png",alt="img") 
          .board24_tab-item__text 
            .board24_tab-item__icon
              img(src="assets/img/group/img-3.png",alt="img")  
            span Заседание Совета Дир... 
      .board24_tab-item__folder
        a.board24_tab-item__link(href="#!")
          .board24_tab-item__img
            img(src="assets/img/group/folder.png",alt="img") 
          .board24_tab-item__text 
            .board24_tab-item__icon
              img(src="assets/img/group/img-3.png",alt="img")  
            span Заседание Совета Дир... 
      .board24_tab-item__folder
        a.board24_tab-item__link(href="#!")
          .board24_tab-item__img
            img(src="assets/img/group/folder.png",alt="img") 
          .board24_tab-item__text 
            .board24_tab-item__icon
              img(src="assets/img/group/img-3.png",alt="img")  
            span Заседание Совета Дир... 
    a.board24_line-detail__img(href="#!")
    .board24_100
    a.board24_tab-item__look Смотреть все 