include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings.board24_middle-gant
  .board24_meet__body
    .board24_meet__nav.board24_meet-nav.board24_jucb.board24_mission-nav 
      .board24_meet-nav__body.board24_flex.board24_alic
        h2 Поручения
        .board24_mission-nav__filter.board24_point
          span.icon-Vector
          .board24_ts-8 Фильтр + поиск
    
    
    .board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__head.board24_flex
          .board24_meet-content__title.board24_ts-22 Гант
          .board24_meet-content__line
            .board24_ts-17.board24_meet-content__column Задачи
            .board24_ts-17 Июнь 2020
            .board24_meet-content__icons
              span.board24_point.icon-printer            
              span.board24_point.icon-zoom-in            
              span.board24_point.icon-zoom-out 
        hr

        .board24_meet-content__net.board24_jucs
          .board24_meet-content__column
            .board24_meet-content__row.board24_ts-39.board24_m5 Задача №1 
              .board24_meet-content__mark.board24_meet-content__mark_mark1
            .board24_meet-content__row.board24_ts-39 Задача №2
              .board24_meet-content__mark.board24_meet-content__mark_mark2
            .board24_meet-content__row.board24_ts-39 Задача №3
              .board24_meet-content__mark.board24_meet-content__mark_mark1
            .board24_meet-content__row.board24_ts-39 Задача №4
            .board24_meet-content__row.board24_ts-39 Задача №5
              .board24_meet-content__mark.board24_meet-content__mark_mark1
            .board24_meet-content__row.board24_ts-39 Задача №6
            .board24_meet-content__row.board24_ts-39 Задача №7
              .board24_meet-content__mark.board24_meet-content__mark_mark2
          .board24_meet-content__column
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 11
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 12
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 13
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 14
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 15
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 16
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 17
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 18
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 19
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 20
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 21
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 22
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 23
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 24
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 25
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 26
            .board24_meet-content__col
              .board24_meet-content__num.board24_ts-39 27 
          //- .board24_meet-content__
          //- .board24_meet-content__
          //- .board24_meet-content__
