.board24_calendar
  .board24_calendar__body 
    .board24_calendar__header
      .board24_calendar__date
        h4 4 December,
        span Wednesday
      .board24_calendar__show Show:
        a.board24_calendar__link(href="#!") This week
        a.board24_calendar__triangle(href="#!")
          span.icon-arrow_drop_down
    .board24_calendar__table.board24_calendar-table
      .board24_calendar-table__row
        a.board24_calendar-table__item(href="#!") Sun
        a.board24_calendar-table__item(href="#!") Mon
        a.board24_calendar-table__item(href="#!") Tue
        a.board24_calendar-table__item.board24_table-row-active(href="#!") Wed
        a.board24_calendar-table__item(href="#!") Thu
        a.board24_calendar-table__item(href="#!") Fri
        a.board24_calendar-table__item(href="#!") Sat
      .board24_calendar-table__row-numbers
        a.board24_calendar-table__item(href="#!") 1
        a.board24_calendar-table__item(href="#!") 2
        a.board24_calendar-table__item(href="#!") 3
        a.board24_calendar-table__item.board24_table-active(href="#!") 4
        a.board24_calendar-table__item(href="#!") 5
        a.board24_calendar-table__item(href="#!") 6
        a.board24_calendar-table__item(href="#!") 7
      .board24_calendar-table__row-numbers
        a.board24_calendar-table__item(href="#!") 8
        a.board24_calendar-table__item(href="#!") 9
        a.board24_calendar-table__item(href="#!") 10
        a.board24_calendar-table__item(href="#!") 11
        a.board24_calendar-table__item(href="#!") 12
        a.board24_calendar-table__item(href="#!") 13
        a.board24_calendar-table__item(href="#!") 14
      .board24_calendar-table__row-numbers
        a.board24_calendar-table__item(href="#!") 15
        a.board24_calendar-table__item(href="#!") 16
        a.board24_calendar-table__item(href="#!") 17
        a.board24_calendar-table__item(href="#!") 18
        a.board24_calendar-table__item(href="#!") 19
        a.board24_calendar-table__item(href="#!") 20
        a.board24_calendar-table__item(href="#!") 21
      .board24_calendar-table__row-numbers
        a.board24_calendar-table__item(href="#!") 22
        a.board24_calendar-table__item(href="#!") 23
        a.board24_calendar-table__item(href="#!") 24
        a.board24_calendar-table__item(href="#!") 25
        a.board24_calendar-table__item(href="#!") 26
        a.board24_calendar-table__item(href="#!") 27
        a.board24_calendar-table__item(href="#!") 28
      .board24_calendar-table__row-numbers
        a.board24_calendar-table__item(href="#!") 29
        a.board24_calendar-table__item(href="#!") 30
        a.board24_calendar-table__item(href="#!") 31
        a.board24_calendar-table__item.board24_calendar-table__item_next(href="#!",data="next")  1
        a.board24_calendar-table__item.board24_calendar-table__item_next(href="#!",data="next" )  2
        a.board24_calendar-table__item.board24_calendar-table__item_next(href="#!",data="next" )  3
        a.board24_calendar-table__item.board24_calendar-table__item_next(href="#!",data="next" )  4


