section#menu-side.board24_menu-side
      .board24_menu-side__wrapper
        nav.board24_menu-side__plaza.board24_menu-side-plaza
          ul.board24_menu-side-plaza__body
            li.board24_menu-side-plaza__item
              a.board24_menu-side-plaza__link(href="#!") Мои заседания
            li.board24_menu-side-plaza__item 
              a.board24_menu-side-plaza__link(href="#!") Поручения
            li.board24_menu-side-plaza__item 
              a.board24_menu-side-plaza__link(href="#!") Компания
            li.board24_menu-side-plaza__item 
              a.board24_menu-side-plaza__link(href="#!") Дополнительно
            li.board24_menu-side-plaza__item 
              a.board24_menu-side-plaza__link(href="#!") Личный кабинет






