section#menu-side.menu-side
    .container
      .menu-side__wrapper.g
        nav.menu-side__plaza.menu-side-plaza
          ul.menu-side-plaza__body
            li.menu-side-plaza__item.b 
              a.menu-side-plaza__link(href="#!") Мои заседания
            li.menu-side-plaza__item 
              a.menu-side-plaza__link(href="#!") Поручения
            li.menu-side-plaza__item 
              a.menu-side-plaza__link(href="#!") Компания
            li.menu-side-plaza__item 
              a.menu-side-plaza__link(href="#!") Дополнительно
            li.menu-side-plaza__item 
              a.menu-side-plaza__link(href="#!") Личный кабинет






