section#middle.middle
  .middle__body
    .middle__title 
      h2 BOARD 24
    .middle__plaza.middle-plaza
      .middle-plaza__body
        .middle-plaza__static
          .middle-plaza__calendar здесь календарь 
        .middle-plaza__stretsh
          .middle-plaza__title.Text-Style-22 Новости компании 
          .middle-plaza__line
            .middle-plaza__date.Text-Style-25 PR | 13.08.2019
            .middle-plaza__header QaztechVentures подписал меморандум с Boundless Group
            .middle-plaza__img
              .ibg.bg
                img(src="assets/img/main/image-2.png",alt="img")
            .middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и интеграцию отечественных стартапов в глобальную экосистему инноваций. <br> Миссия Boundless Group заключается в том, что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину, профессионализм и предпринимательские навыки у американских коллег.
          .middle-plaza__line
            .middle-plaza__date.Text-Style-25 PR | 13.08.2019
            .middle-plaza__header QaztechVentures подписал меморандум с Boundless Group
            .middle-plaza__img
              .ibg.bg
                img(src="assets/img/main/image-2.png",alt="img")
            .middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и интеграцию отечественных стартапов в глобальную экосистему инноваций. <br> Миссия Boundless Group заключается в том, что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину, профессионализм и предпринимательские навыки у американских коллег.




