include ../../common/mixins



section#person.person
  .person__body.r
    .person__button
      +button-blue("Создать заседание")
    .person__cabinet.person-cabinet
      .person-cabinet__body
        .flex-align
          .person-cabinet__img
            img(src="assets/img/main/image-1.png",alt="img")
          .person-cabinet__title 
            h2 Личный кабинет
        .person-cabinet__line Видеоконференция
        .person-cabinet__line Чат
          .person-cabinet__mark 704
        .person-cabinet__line Группы
        .person-cabinet__line Диск
          .person-cabinet__mark 12
        .person-cabinet__line Календарь
        .person-cabinet__line Живая лента
        .person-cabinet__line Статистика заседаний
          .person-cabinet__mark 12

    .person__link
      img(src="assets/img/main/main-1.svg",alt="img")


