include ../../common/mixins



section#person.board24_person
  .board24_person__body 
    .board24_person__cabinet.board24_person-cabinet
      .board24_person-cabinet__body
        .board24_flex-align
          .board24_person-cabinet__img
            img(src="assets/img/main/image-1.png",alt="img")
          .board24_person-cabinet__title 
            h2 Личный кабинет
        .board24_person-cabinet__line Видеоконференция
        .board24_person-cabinet__line Чат
          .board24_person-cabinet__mark 704
        .board24_person-cabinet__line Группы
        .board24_person-cabinet__line Диск
          .board24_person-cabinet__mark 12
        .board24_person-cabinet__line Календарь
        .board24_person-cabinet__line Живая лента
        .board24_person-cabinet__line Статистика заседаний
          .board24_person-cabinet__mark 12

    .board24_person__link
      img(src="assets/img/main/main-1.svg",alt="img")


