include ../../common/mixins



section#person.board24_person
  .board24_person__body 
    .board24_person__cabinet.board24_person-cabinet
      .board24_person-cabinet__body
        .board24_flex-align
          .board24_person-cabinet__img
            img(src="assets/img/main/image-1.png",alt="img")
          a.board24_person-cabinet__title(href="#!") 
            h2 Личный кабинет
        a.board24_person-cabinet__line(href="#!") Видеоконференция
        a.board24_person-cabinet__line(href="#!") Чат
          .board24_person-cabinet__mark 704
        a.board24_person-cabinet__line(href="#!") Группы
        a.board24_person-cabinet__line(href="#!") Диск
          .board24_person-cabinet__mark 12
        a.board24_person-cabinet__line(href="#!") Календарь
        a.board24_person-cabinet__line(href="#!") Живая лента
        a.board24_person-cabinet__line(href="#!") Статистика заседаний
          .board24_person-cabinet__mark 12
    a.board24_person__link(href="promo.html")
      img(src="assets/img/main/main-1.svg",alt="img")


