include ../../common/mixins

section.board24_middle.board24_middle-group
  .board24_middle__body
    .board24_middle__plaza.board24_middle-plaza
      .board24_middle-plaza__body
        .board24_middle-plaza__stretsh 
          .board24_middle-plaza__title
            h4 Группы 
          .board24_middle-plaza__line.board24_plaza-line
            .board24_plaza-line__img
              img(src="assets/img/group/img-1.png",alt="img-1")
            .board24_plaza-line__column
              .board24_plaza-line__title
                h2 Совет директоров АО
              .board24_plaza-line__title-low
                h2 &laquo;Test_01&raquo;
              .board24_plaza-line__text Группа для взаимодействия членов совета директоров
            .board24_plaza-line__buttons  
              +button-empty("Собрать заседание группы","home.html")
              +button-empty("Групповой звонок","home.html")
              +button-empty("Написать в чат","home.html")
          .board24_middle-plaza__line.board24_plaza-line
            .board24_plaza-line__img
              img(src="assets/img/group/img-1.png",alt="img-1")
            .board24_plaza-line__column
              .board24_plaza-line__title
                h2 Совет директоров АО
              .board24_plaza-line__title-low
                h2 &laquo;Test_01&raquo;
              .board24_plaza-line__text Группа для взаимодействия членов совета директоров
            .board24_plaza-line__buttons  
              +button-empty("Собрать заседание группы","home.html")
              +button-empty("Групповой звонок","home.html")
              +button-empty("Написать в чат","home.html")
          .board24_middle-plaza__line.board24_plaza-line 
            .board24_plaza-line__img
              img(src="assets/img/group/img-1.png",alt="img-1")
            .board24_plaza-line__column
              .board24_plaza-line__title
                h2 Совет директоров АО
              .board24_plaza-line__title-low
                h2 &laquo;Test_01&raquo;
              .board24_plaza-line__text Группа для взаимодействия членов совета директоров
            .board24_plaza-line__buttons  
              +button-empty("Собрать заседание группы","home.html")
              +button-empty("Групповой звонок","home.html")
              +button-empty("Написать в чат","home.html")
