include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings.board24_middle-gant.board24_middle-about-council
  .board24_meet__body
    .board24_meet__nav.board24_meet-nav.board24_jucb.board24_mission-nav 
      .board24_meet-nav__body.board24_flex.board24_alic
        h2 Совет директоров

    
    .board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__biography.board24_biography
          .board24_biography__body
            .board24_biography__left
              .board24_biography__img
                img(src="assets/img/about-council/img-1.png",alt="img") 
              .board24_m20 
              +button-blue-small("Написать сообщение","#!")
              .board24_biography__button.board24_m8
                a.board24_biography__link.board24_ts-51(href="#!")  Пригласить в группу
              .board24_biography__button.board24_m8
                a.board24_biography__link.board24_ts-51(href="#!") Видеоконференция
            .board24_biography__right
              .board24_ts-22 Иванов Иван Иванович 
              .board24_ts Председатель Совета директоров
              .board24_m15 
              p Образование: Окончил Казахский национальный университет,  Университет Монтаны. Магистр государственного управления, Магистр   бизнес-администрирования.
              .board24_m18 
              p Трудовую деятельность начал в 2004 году младшим юристом в   юридической  фирме «ГРАТА».
              .board24_m18 
              p В разные годы работал ассистентом Профессора The University of    Montana, помощником Генерального директора РГП «Национальный центр  по  биотехнологии РК», директором департамента в ТОО «Самрук-Қазына  Инвест», АО «Региональный финансовый центр города Алматы».
              .board24_m18 
              p В 2010-2012 годы занимал должность Управляющего директора ТОО     «Самрук-Қазына Инвест».
              .board24_m18 
              p С 2012 года Генеральный директор, Партнер ТОО «VTB Capital I2BF».
              .board24_m18 
              p С сентября 2018 года Управляющий директор АО «Национальный    управляющий холдинг «Байтерек».
              .board24_m18  
              p Владение акциями Компании: не владеет. Не имеет акции поставщиков  и конкурентов Компании.
      hr
      .board24_meet-content__body
        .board24_meet-content__biography.board24_biography
          .board24_biography__body
            .board24_biography__left
              .board24_biography__img
                img(src="assets/img/about-council/img-3.png",alt="img") 
              .board24_m20 
              +button-blue-small("Написать сообщение","#!")
              .board24_biography__button.board24_m8
                a.board24_biography__link.board24_ts-51(href="#!")  Пригласить в группу
              .board24_biography__button.board24_m8
                a.board24_biography__link.board24_ts-51(href="#!") Видеоконференция
            .board24_biography__right
              .board24_ts-22 Шаймарданов Жандос
              .board24_ts Председатель Правления 
              .board24_m15 
              p Шаймарданов Жандос является выпускником программы «Болашак», в 2009 году окончил Йоркский Университет в Великобритании по специальности «Экономика и финансы».
              .board24_m18 
              p После завершения обучения начал трудовую деятельность главным экспертом Министерства экономики и бюджетного планирования РК.
              .board24_m18 
              p С 2010 по 2013 годы работал в АО «ФНБ «Самрук-Казына» менеджером Департамента экономики и планирования.
              .board24_m18 
              p С 2013 по 2014 годы - советник Министра экономики и бюджетного планирования РК.
              .board24_m18 
              p С 2014 по 2016 годы - директор Департамента стратегического планирования и анализа Министерства национальной экономики РК.
              .board24_m18 
              p С октября 2016 года Шаймарданов Жандос занимал позиции директора департамента, управляющего директора АО «Национальный управляющий холдинг «Байтерек».
      hr
      .board24_meet-content__body
        .board24_meet-content__biography.board24_biography
          .board24_biography__body
            .board24_biography__left
              .board24_biography__img
                img(src="assets/img/about-council/img-2.png",alt="img") 
              .board24_m20 
              +button-blue-small("Написать сообщение","#!")
              .board24_biography__button.board24_m8
                a.board24_biography__link.board24_ts-51(href="#!")  Пригласить в группу
              .board24_biography__button.board24_m8
                a.board24_biography__link.board24_ts-51(href="#!") Видеоконференция
            .board24_biography__right
              .board24_ts-22 Куатова Айнур Саиновна
              .board24_ts Управляющий директор, член Правления АО «Национальный управляющий холдинг «Байтерек»
              .board24_m15 
              p Дата избрания в состав Совета директоров- 13 июня 2018 года
              .board24_m18 
              p Гражданство: Казахстан
              .board24_m18 
              p Окончила Middlesex University и Казахскую государственную академию управления.
              .board24_m18 
              p Трудовую деятельность начала в 1995 году в качестве старшего специалиста ЗАО «Казинтербанк».
              .board24_m18 
              p В 1998 году работала главным финансовым менеджером Карачаганакского Департамента НК «Казахойл».
              .board24_m18 
              p В 2000-2001 годах – начальником отдела Министерства энергетики и минеральных ресурсов Республики. Казахстан.
              .board24_m18
              p  2002-2005 годах – менеджером по развитию бизнеса ТОО «Коноко Филлипс Казахстан».
              .board24_m18
              p В 2005-2007годах – вице-президентом АО «Ланкастер Инвест».
              .board24_m18
              p В 2007-2010 годах – директором по развитию бизнеса и маркетингу АО «КМК Мунай».
              .board24_m18
              p В 2010-2012 годах – президентом АО «Карповский Северный».
              .board24_m18
              p В 2012-2013 годах - советником Министра окружающей среды и водных ресурсов Республики Казахстан.
              .board24_m18
              p В 2014-2015 годах - заместителем Председателя Правления АО «НК «Астана ЭКСПО – 2017».
              .board24_m18
              p В 2015 году - заместителем Председателя Правления по стратегии и трансформации бизнеса АО «НАК «Казатомпром».
              .board24_m18
              p С 2016 года - Управляющий директор АО «Национальный управляющий холдинг «Байтерек».
              .board24_m18    
              p В июле 2016 года стала членом Правления, управляющим директором АО «Национальныйуправляющий холдинг «Байтерек».
              .board24_m18
              p Является членом Совета директоров АО «Экспортная страховая компания «KazakhExport».
              .board24_m18
              p Владение акциями Компании: не владеет. Не владеет акциями поставщиков и конкурентов Компании.



