.board24_meet-content__card.board24_content-card
  .board24_content-card__body
    .board24_content-card__img
      img(src="assets/img/structure/img-1.png",alt="img")
    .board24_content-card__content
      .board24_content-card__title.board24_ts-45 Константинов Константин
      .board24_content-card__string.board24_ts-8 Должность:
        span.board24_ts-9 &nbsp;Юрист
      .board24_content-card__string Подразделение:
        span &nbsp;Служба безопасности
      .board24_content-card__string Рабочий телефон:
        span &nbsp;123456
      .board24_content-card__string Внутренний телефон: 
        span &nbsp;234561
      .board24_content-card__string День рождения:
        span &nbsp;11.08.1990
      .board24_content-card__string Руководитель:
        span &nbsp;Иванов Иван
      .board24_content-card__string Дата выхода на работу:
        span &nbsp;11.11.2019
      .board24_content-card__string Организация:
        span &nbsp;Board24
    .board24_content-card__buttons.board24_m4 
      .board24_fdc
        div
          +button-empty("Написать сообщение","#!")
          +button-empty("Пригласить в группу","#!")
          +button-blue-small("Видеоконференция","#!")
        
        +button-empty("Внутренний перевод","#!")