.board24_wrapper
  main.board24_page
    section.board24_home
      .board24_home__body 
        .board24_container
          include ../includes/cadr/middle
          include ../includes/structure/person-structure