extends ../layout/main
block header
  //- include ../common/info
  //- include ../common/bagajnik
  //- include ../common/header
  //- include ../common/header1
block content
  include ../collect/main
block footer