include ../common/mixins
doctype html
html
  head
    title mob-mission
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body
    div.wrapper
      main.page
        section.board_24__mob-main.board_24__mob-meetings.board_24__mob-mission
          .board_24__mob-container.container-js
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              .board24_m10
              .board_24__acent-button
                a(href="#!")  Поставить задачу
              .board24_m10
              .board24_mob-button Поручения
                span.icon-arrow_drop_down
              .board24_mob-errand
                .board24_mob-errand__body
                  .board24_mob-errand__button button search
                  .board24_mob-errand__list.board24_mob-errand-list
                    .board24_mob-errand-list__body 
                    
                      .board24_meet-content__line
                        .board24_meet-content-line__body
                          .board24_meet-content-line__text.board24_ts-22 Список поручений
                  
                      .board24_meet-content__line
                        .board24_meet-content-line__body
                          forma.board24_inter-forma.board24_flex 
                            .board24_flex.board24_inter-forma__item 
                              input.custom-checkbox(type="checkbox" name="meetings1" value="1"   id="meetings1")
                              label.board24_ts-7-b(for="meetings1")
                          .meet-content-line__img-high
                            span.icon-meetings-1
                              span.path1
                              span.path2
                          .meet-content-line__text.board24_ts-24 Название

                      .board24_meet-content__line.meet-content-line
                        .board24_meet-content-line__body
                          forma.board24_inter-forma.board24_flex 
                            .board24_flex.board24_inter-forma__item 
                              input.custom-checkbox(type="checkbox" name="meetings2" value="1"   id="meetings2")
                              label.board24_ts-7-b(for="meetings2")
                          .meet-content-line__img
                            img.board24_point(src="assets/img/meetings/v-2.svg",alt="img")
                          .meet-content-line__text.board24_ts-38 Заседание 21 мая
                          .meet-content-line__type.board24_ts-12 Dec 14, 2018
                          a.board24_avatar-name.board24_auto(href="#!")
                            img(src="assets/img/main/image-1.png",alt="img")
                            .board24_board24_avatar-name__name.board24_alic
                              .board24_ts-12 Lindsey Stroud
                          span.board24_point.icon-more
                 
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
              .board24_mob-area.board24_m20
                .board24_mob-area__title Новое поручение
                .board24_mob-area__name Название поручения
                .board24_mob-area__text Поручение №1234567890
                hr
                .board24_mob-area__mark
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="inter2" value="1" id="mark")
                      label.board24_ts-7-b(for="mark") Отметить как важное
                .board24_inter-plaza__text-area1.board24_area1 
                  textarea.board24_area1__input.board24_ts( type="text"  placeholder=" Leave a note here ..." )

                  .board24_jucb
                    .board24_jucb
                      a.board24_area1__img(href="#!") 
                        img(src="assets/img/inter/vt-1.svg",   alt="img")
                      a.board24_area1__img(href="#!")
                        img(src="assets/img/inter/vt-2.svg",   alt="img")
                    .board24_flex
                      .board24_area1__button 
                        +button-color-cub("Отменить","pale-grey","#!")
                      .board24_area1__button
                        +button-color-cub("Сохранить","silver","#!")




                            //-  corvet
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Ответственный
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще") 
                        //-  corvet
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Постановщик
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще")  
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Соисполнители
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще")  
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Наблюдатели
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще")  
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Крайний срок
                  .board24-corvet__text-area 
                    img(src="assets/img/mob-main/horns.svg",alt="img")  
                    input(type="text" placeholder="") 
                .board24-corvet
                  .board24-corvet__tab
                    .board24-corvet__tab-text Планирование сроков
                      span.icon-arrow_drop_down
                    .board24-corvet__text-area-drop.board24_ts Lorem ipsum dolor sit amet.
                .board24-corvet
                  .board24-corvet__tab
                    .board24-corvet__tab-text Дополнительно
                      span.icon-arrow_drop_down
                    .board24-corvet__text-area-drop.board24_ts Lorem ipsum dolor sit amet.
                .board24-corvet
                  .board24-corvet__tab.board24-corvet__tab_big
                    .board24-corvet__tab-text Дополнительно
                      span.icon-arrow_drop_down
                    .board24-corvet__text-area-drop.board24_ts Lorem ipsum dolor sit amet.
                .board24_mob-area__mark.board24_mob-area__mark_low
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="inter3" value="1" id="mark1")
                      label.board24_ts-7-b(for="mark1") Сохранить как шаблон
                .board24_m19
                +button-empty("Отменить","#!")
                .board24_m8
                +button-blue("Поставить поручение ","#!")

            include ../includes/mob/mob-person
