include ../common/mixins
doctype html
html
  head
    title mob-mission
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   

  body
    div.wrapper
      main.page
        section.board_24__mob-main.board_24__mob-meetings.board_24__mob-mission
          .board_24__mob-container.container-js
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              .board24_m10
              .board_24__acent-button
                a(href="#!")  Поставить задачу
              .board24_m10
              .board24_mob-button Поручения
                span.icon-arrow_drop_down
              .board24_mob-area.board24_m20
                .board24_mob-area__title Новое поручение
                .board24_mob-area__name Название поручения
                .board24_mob-area__text Поручение №1234567890
                hr
                .board24_mob-area__mark
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="inter2" value="1" id="mark")
                      label.board24_ts-7-b(for="mark") Отметить как важное
                .board24_inter-plaza__text-area1.board24_area1 
                  textarea.board24_area1__input.board24_ts( type="text"  placeholder=" Leave a note here ..." )

                  .board24_jucb
                    .board24_jucb
                      a.board24_area1__img(href="#!") 
                        img(src="assets/img/inter/vt-1.svg",   alt="img")
                      a.board24_area1__img(href="#!")
                        img(src="assets/img/inter/vt-2.svg",   alt="img")
                    .board24_flex
                      .board24_area1__button 
                        +button-color-cub("Отменить","pale-grey","#!")
                      .board24_area1__button
                        +button-color-cub("Сохранить","silver","#!")
                            //-  corvet
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Ответственный
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще") 
                        //-  corvet
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Постановщик
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще")  
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Соисполнители
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще")  
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Наблюдатели
                  .board24-corvet__text-area   
                    input(type="text" placeholder="Добавить еще")  
                .board24-corvet
                  .board24-corvet__text.board24_ts-5 Крайний срок
                  .board24-corvet__text-area 
                    img(src="assets/img/mob-main/horns.svg",alt="img")  
                    input(type="text" placeholder="") 
                .board24-corvet
                  .board24-corvet__tab
                    .board24-corvet__tab-text Планирование сроков
                      span.icon-arrow_drop_down
                    .board24-corvet__text-area-drop.board24_ts Lorem ipsum dolor sit amet.
                .board24-corvet
                  .board24-corvet__tab
                    .board24-corvet__tab-text Дополнительно
                      span.icon-arrow_drop_down
                    .board24-corvet__text-area-drop.board24_ts Lorem ipsum dolor sit amet.
                .board24-corvet
                  .board24-corvet__tab.board24-corvet__tab_big
                    .board24-corvet__tab-text Дополнительно
                      span.icon-arrow_drop_down
                    .board24-corvet__text-area-drop.board24_ts Lorem ipsum dolor sit amet.
                .board24_mob-area__mark.board24_mob-area__mark_low
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="inter3" value="1" id="mark1")
                      label.board24_ts-7-b(for="mark1") Сохранить как шаблон
                .board24_m19
                +button-empty("Отменить","#!")
                .board24_m8
                +button-blue("Поставить поручение ","#!")




            section.board24_mob-person
              .board_24__mob-header
                  .board_24__mob-logo
                    img(src="assets/img/main/main-1.svg",alt="img") 
              .board24_hr  
              .board24_person__body 
                a.board24_person-cabinet__line(href="#!") Главная
                a.board24_person-cabinet__line(href="#!") Мои заседания
                a.board24_person-cabinet__line(href="#!") Поручения
                a.board24_person-cabinet__line(href="#!") Компания
                a.board24_person-cabinet__line(href="#!") Видео конференции
                a.board24_person-cabinet__line(href="#!") Чат
                  .board24_person-cabinet__mark 704
                a.board24_person-cabinet__line(href="#!") Группы
                a.board24_person-cabinet__line(href="#!") Диск
                  .board24_person-cabinet__mark 12
                a.board24_person-cabinet__line(href="#!") Календарь
                a.board24_person-cabinet__line(href="#!") Список отчет
                  .board24_person-cabinet__mark 12
                
                .board24_person-cabinet__set.board24_ts-48.board24_alic 
                  span.icon-meetings-1
                    span.path1
                    span.path2
                  span.board24_point Настроить меню