include ../common/mixins
doctype html
html
  head
    title mob-meetings 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   

  body
    div.wrapper
      main.page
        section.board_24__mob-main.board_24__mob-meetings
          .board_24__mob-container.container-js
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              .board24_m10
                        //-  синяя кнопка
              include ../includes/mob/mob-acent-button
              .board24_m10
              include ../includes/mob/mob-tab-mob-button
                  
                  //- три плашки с зеленой кнопкой
              include ../includes/mob/middle-plaza__line_plaha
              include ../includes/mob/middle-plaza__line_plaha
              include ../includes/mob/middle-plaza__line_plaha
              
           
           
            include ../includes/mob/mob-person