include ../common/mixins
doctype html
html
  head
    title mob-main 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   

  body
    div.wrapper
      main.page
        section.board_24__mob-main
          .board_24__mob-container
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              .board24_m10
              .board_24__acent-button
                a(href="#!")  Accent button
              .board24_m10
              .board24_calendar
                .board24_calendar__body 
                  .board24_calendar__header
                    .board24_calendar__date
                      h4 23.11.2020 
                    .board24_calendar__arrows 
                      .board24_calendar__arrow.board24_calendar__arrow-left 
                      .board24_calendar__arrow.board24_calendar__arrow-right 
                    .board24_calendar__show Show:&nbsp;
                      a.board24_calendar__link(href="#!") This week
                      a.board24_calendar__triangle(href="#!")
                        span.icon-arrow_drop_down
                  .board24_calendar__table.board24_calendar-table
                    .board24_calendar-table__row
                      a.board24_calendar-table__item(href="#!") S
                      a.board24_calendar-table__item(href="#!") Mo
                      a.board24_calendar-table__item(href="#!") Tue
                      a.board24_calendar-table__item.board24_table-row-active(href="#!") Wed
                      a.board24_calendar-table__item(href="#!") Thu
                      a.board24_calendar-table__item(href="#!") Fri
                      a.board24_calendar-table__item(href="#!") Sat
                    .board24_calendar-table__row-numbers
                      a.board24_calendar-table__item(href="#!") 1
                      a.board24_calendar-table__item(href="#!") 2
                      a.board24_calendar-table__item(href="#!") 3
                      a.board24_calendar-table__item.board24_table-active(href="#!") 4
                      a.board24_calendar-table__item(href="#!") 5
                      a.board24_calendar-table__item(href="#!") 6
                      a.board24_calendar-table__item(href="#!") 7
              .board24_plat.board24_plaha-big 
                span.board24_ts-22 23 December, 
                span.board24_ts-23 Sunday
                .board24_text.board24_ts-35.board24_m10 3 активных заседания,
                .board24_text.board24_ts-35 7 в процессе подготовки,
                .board24_text.board24_ts-35 17 поручений выполняются,
                .board24_text.board24_ts-35 23 задачи в работе ...
                .board24_m5
                a.board24_ts-10(href="#!") Смотреть всё &rarr;
              .board24_plat.board24_plaha-big
                .board24_middle-plaza__header.board24_m10
                  .board24_jucb.board24_alic
                    .board24_middle-plaza__title
                      h4 Заседания
                    a.board24_middle-plaza__link.board24_ts-29(href="#!") Смотреть все
                .board24_middle-plaza__line-left
                  .board24_m18
                  .board24_line-button
                    +button-color("Подготовка","butterscotch","news.html") 
                    .board24_person-cabinet__mark 704
                  .board24_m12
                  .board24_line-button
                    +button-color("Проведение","apple-green","parts.html") 
                    .board24_person-cabinet__mark 23
                  .board24_m12
                  .board24_line-button
                    +button-color("Завершено","silver","statistic.html")
                    .board24_person-cabinet__mark 42
                  .board24_m17
              .board24_middle-plaza__line_plaha.board24_line-plaha.board24_m8
                .board24_alic.board24_jucb
                  +button-color("Проведение","apple-green","promo.html")
                  a.board24_line-plaha__miting.board24_ts-37(href="#!") Онлайн встреча
                .board24_line-plaha__text.board24_m17
                  h3 Заседание Совета директоров от 31 мая порядковый ...
                .board24_line-plaha__data.board24_m6
                  span.board24_line-plaha__light Дата:&nbsp;
                  span.board24_line-plaha__dark December 23, 2018
                .board24_line-plaha__download.board24_alic.board24_m19  
                  a.board24_line-plaha__text-link.board24_ts-36(href="#!") Скачать файлы одним архивом
                  .board24_line-plaha__img1
                    img(src="assets/img/main/Vector-1.svg",alt="img")
                    img(src="assets/img/main/Vector-2.svg",alt="img")
                  +button-blue-small("Перейти к заседанию","group.html")
              .board24_middle-plaza__line_plaha.board24_line-plaha.board24_m8
                .board24_alic.board24_jucb
                  +button-color("Проведение","apple-green","promo.html")
                  a.board24_line-plaha__miting.board24_ts-37(href="#!") Онлайн встреча
                .board24_line-plaha__text.board24_m17
                  h3 Заседание Совета директоров от 31 мая порядковый ...
                .board24_line-plaha__data.board24_m6
                  span.board24_line-plaha__light Дата:&nbsp;
                  span.board24_line-plaha__dark December 23, 2018
                .board24_line-plaha__download.board24_alic.board24_m19  
                  a.board24_line-plaha__text-link.board24_ts-36(href="#!") Скачать файлы одним архивом
                  .board24_line-plaha__img1
                    img(src="assets/img/main/Vector-1.svg",alt="img")
                    img(src="assets/img/main/Vector-2.svg",alt="img")
                  +button-blue-small("Перейти к заседанию","group.html")
              .board24_middle-plaza__line_plaha.board24_line-plaha.board24_m8

                .board24_alic.board24_jucb
                  +button-color("Проведение","apple-green","promo.html")
                  a.board24_line-plaha__miting.board24_ts-37(href="#!") Онлайн встреча
                .board24_line-plaha__text.board24_m17
                  h3 Заседание Совета директоров от 31 мая порядковый ...
                .board24_line-plaha__data.board24_m6
                  span.board24_line-plaha__light Дата:&nbsp;
                  span.board24_line-plaha__dark December 23, 2018
                .board24_line-plaha__download.board24_alic.board24_m19  
                  a.board24_line-plaha__text-link.board24_ts-36(href="#!") Скачать файлы одним архивом
                  .board24_line-plaha__img1
                    img(src="assets/img/main/Vector-1.svg",alt="img")
                    img(src="assets/img/main/Vector-2.svg",alt="img")
                  +button-blue-small("Перейти к заседанию","group.html")
            section.board24_mob-person
              .board_24__mob-header
                  .board_24__mob-logo
                    img(src="assets/img/main/main-1.svg",alt="img") 
              .board24_hr  
              .board24_person__body 
                a.board24_person-cabinet__line(href="#!") Главная
                a.board24_person-cabinet__line(href="#!") Мои заседания
                a.board24_person-cabinet__line(href="#!") Поручения
                a.board24_person-cabinet__line(href="#!") Компания
                a.board24_person-cabinet__line(href="#!") Видео конференции
                a.board24_person-cabinet__line(href="#!") Чат
                  .board24_person-cabinet__mark 704
                a.board24_person-cabinet__line(href="#!") Группы
                a.board24_person-cabinet__line(href="#!") Диск
                  .board24_person-cabinet__mark 12
                a.board24_person-cabinet__line(href="#!") Календарь
                a.board24_person-cabinet__line(href="#!") Список отчет
                  .board24_person-cabinet__mark 12
                .board24_person-cabinet__set.board24_ts-48.board24_alic 
                  span.icon-meetings-1
                    span.path1
                    span.path2
                  span.board24_point Настроить меню




