include ../common/mixins
doctype html
html
  head
    title mob-modal
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body
    div.wrapper
      main.page
        section.board_24__mob-main.board_24__mob-meetings.board_24__mob-mission.board_24__mob-modal
          .board_24__mob-container.container-js
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              
              .board24_m10
              #board24_poup-assignment-button.board_24__acent-button
                a(href="#!")  Поставить задачу
              .board24_m10
              include ../includes/mob/mob-acent-button
              .board24_m10
              
              include ../includes/mob/mob-tab-поручения
              .board24_m10
              .board_24__mob-modal__modal-in.board24_poup-assignment
                  span.board24_cross.icon-close2
                  .board24_poup-assignment__title  Новое поручение
                  .board24_inter__plaza.board24_inter-plaza
                    .board24_inter-plaza__header.board24_ts-5 Название поручения 
                    .board24_inter-plaza__discription.board24_ts-6.board24_jucb  
                      input.board24_ts-6.board24_bot__input(type="text"  placeholder='Поручение №1234567890')
                      hr
                      forma.board24_inter-forma.board24_flex 
                        .board24_flex.board24_inter-forma__item 
                          input.custom-checkbox(type="checkbox" name="i109" value="1" id="i109")
                          label.board24_text-small-blue.board24_ts-7(for="i109") Отметить как важное  
                  .board24_inter-plaza__text-area1.board24_area1 
                    textarea.board24_ts( type="text"  placeholder=" Leave a note here ..." )
                    .board24_mob-service
                      .board24_jucb
                        a.board24_area1__img(href="#!") 
                          img(src="assets/img/inter/vt-1.svg",   alt="img")
                        a.board24_area1__img(href="#!")
                          img(src="assets/img/inter/vt-2.svg",   alt="img")

                      .board24_mob-modal__buttons
                        .board24_area1__button 
                          +button-color-cub("Отменить","pale-grey","#!")
                        .board24_area1__button
                          +button-color-cub("Сохранить","silver","#!")

                  .board24_poup-assignment__bots
                    .board24_bot
                      .board24_bot__mob-text Ответственный
                      .board24_bot__area
                        input.board24_ts-6.board24_bot__input(type="text"  placeholder='Добавить еще')
                    .board24_bot
                      .board24_bot__mob-text Постановщик
                      .board24_bot__area
                        input.board24_ts-6.board24_bot__input(type="text"  placeholder='Добавить еще')
                    .board24_bot
                      .board24_bot__mob-text Соисполнители
                      .board24_bot__area
                        input.board24_ts-6.board24_bot__input(type="text"  placeholder='Добавить еще')
                    .board24_bot
                      .board24_bot__mob-text Наблюдатели
                      .board24_bot__area
                        input.board24_ts-6.board24_bot__input(type="text"  placeholder='Добавить еще')
                    .board24_bot
                      .board24_bot__mob-text Крайний срок 
                      .board24_bot__area
                        input.board24_ts-6.board24_bot__input(type="text"  placeholder='')
                        img(src="assets/img/inter/schedule.svg",alt="img")
                    .board24_bot
                      .board24_bot__mob-text 
                      .board24_bot__area
                        select.js-example-basic-single( name="BOARD24_TYPE") 
                          option(value="123")  Планирование сроков 
                    .board24_bot
                      .board24_bot__mob-text 
                      .board24_bot__area
                        select.js-example-basic-single( name="BOARD24_TYPE") 
                          option(value="123")  Дополнительно 
                
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="i108" value="1" id="i108")
                      label.board24_text-small-blue.board24_ts-7(for="i108") Сохранить как шаблон   
                  .board24_button-empty
                    .board24_button-empty__link Отменить
                  .board24_button-blue
                    .board24_button-blue__link Поставить поручение

            include ../includes/mob/mob-person