include ../common/mixins
doctype html
html
  head
    title mob-2-company
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   

  body
    div.wrapper
      main.page
        section.board_24__mob-main.board_24__mob-meetings.board24__mob-1-company.board24__mob-2-company
          .board_24__mob-container.container-js
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              .board24_m10
                        //-  синяя кнопка
              include ../includes/mob/mob-acent-button
              .board24_m10
              include ../includes/mob/mob-tab-компания
              .board24__mob-1-company__content
                .board24__mob-2-company__title.Text-Style-22 Совет директоров
                img.board24__mob-2-company__ava(src="assets/img/main/image-1.png",alt="img")
                .board24_button-empty
                  .board24_button-empty__link(href="!#") Написать сообщение
                .board24_button-empty
                  .board24_button-empty__link(href="!#") Видеоконференция
                
                .board24__mob-2-company__text1  Иванов Иван Иванович
                .board24__mob-2-company__text2  Председатель Совета директоров
                
                p.board24__mob-2-company__text3 Образование: Окончил Казахский национальный университет, Университет Монтаны. Магистр государственного управления, Магистр бизнес-администрирования.
                p.board24__mob-2-company__text3 Трудовую деятельность начал в 2004 году младшим юристом в юридической фирме «ГРАТА».
                p.board24__mob-2-company__text3 В разные годы работал ассистентом Профессора The University of Montana, помощником Генерального директора РГП «Национальный центр по биотехнологии РК», директором департамента в ТОО «Самрук-Қазына Инвест», АО «Региональный финансовый центр города Алматы».
                p.board24__mob-2-company__text3 В 2010-2012 годы занимал должность Управляющего директора ТОО «Самрук-Қазына Инвест».
                p.board24__mob-2-company__text3 С 2012 года Генеральный директор, Партнер ТОО «VTB Capital I2BF».
                p.board24__mob-2-company__text3 С сентября 2018 года Управляющий директор АО «Национальный управляющий холдинг «Байтерек».
                p.board24__mob-2-company__text3 Владение акциями Компании: не владеет. Не имеет акции поставщиков и конкурентов Компании.


            include ../includes/mob/mob-person