include ../common/mixins
doctype html
html
  head
    title mob-tasks 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   

  body
    div.wrapper
      main.page
        section.board_24__mob-main.board_24__mob-meetings.board24_mob-tasks
          .board_24__mob-container.container-js
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              .board24_m10
              #board24_poup-assignment-button.board_24__acent-button
                a(href="#!")  Поставить задачу
              include ../includes/mob/mob-acent-button
              
              .board24_m10

              include ../includes/mob/mob-tab-заседания
              
              .board24_mob-content  
                .board24_middle-plaza__line_plaha.board24_line-plaha.board24_m8
                  .board24_alic.board24_jucs
                    +button-color("Проведение","apple-green","promo.html")
                    a.board24_line-plaha__link(href="#!")
                      span.icon-edit.board24_mob-icon
                    a.board24_line-plaha__link(href="#!")
                      span.icon-delete.board24_mob-icon
                    a.board24_line-plaha__link(href="#!") Еще 
                      span.icon-arrow_drop_down 
                  .board24_line-plaha__data.board24_m6
                    span 8:20 am, Aug 1, 2018
                  .board24_line-plaha__text.board24_m17
                    h3 Заседение совета директоров № 458776 от 23 мая
                  .board24_files.board24_jucb
                    .board24_files__title Файлы:
                    img.board24_files__img(src="assets/img/mob-main/img-1.png",alt="img")
                    .board24_files__text 
                      span Приложение №1 План работы СД на 2019 год — копия.docx
                      a.board24_line-plaha__text-link.board24_ts-36(href="#!") Скачать все файлы одним архивом
                   
                  .board24_mob-button1.area-js  
                    .board24_mob-button1__title.button-js Статистика голосования
                      span.icon-arrow_drop_down.icon-js
                    .board24_mob-stat-drop.drop-js
                      
                      
                      .board24_mob-stat-drop__level
                        .board24_mob-stat-drop__level__title Вопрос №1 
                        .board24_mob-stat-drop__level__text Об утверждении отчета о соблюдении принципов и положений Кодекса корпоративного управления.
                        
                        .board24_mob-stat-drop__level__desigion
                          .board24_mob-stat-drop__level__title-small.board24_button1-js Проект–решения №1
                          .board24_mob-stat-drop__level__text-small Утвердить план работы Совета директоров на 2019 год, согласно приложению № 1.
                          .board24_mob-stat-drop__level__person-area.board24_m15
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v1.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark =
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v1.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            

                      
                      
                        .board24_mob-stat-drop__level__desigion
                          .board24_mob-stat-drop__level__title-small.board24_button1-js Проект–решения №1
                          .board24_mob-stat-drop__level__text-small Утвердить план работы Совета директоров на 2019 год, согласно приложению № 1.

                          .board24_mob-stat-drop__level__person-area.board24_m15
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v1.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark =
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v1.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")
                            .board24_mob-stat-drop__level__item
                              img.board24_mob-stat-drop__level__img(src="assets/img/main/image-1.png",alt="img")
                              .board24_mob-stat-drop__level__mark
                                img(src="assets/img/mob-main/v2.svg",alt="img")

                      .board24_mob-stat-drop__level
                        .board24_mob-stat-drop__level__title Вопрос №1 
                        .board24_mob-stat-drop__level__text Об утверждении отчета о соблюдении принципов и положений Кодекса корпоративного управления.
                        .board24_mob-stat-drop__level__desigion
                          .board24_mob-stat-drop__level__title-small Проект–решения №1
                          .board24_mob-stat-drop__level__text-small Утвердить план работы Совета директоров на 2019 год, согласно приложению № 1.
                       
                  .board24_mob-title Повестка
                  .board24_plaha-dark.board24_m10
                    a.board24_edit-link(href="#!")
                      span.icon-edit
                    span.icon-close2
                    .board24_plaha-dark__title Вопрос №1.
                    .board24_mob-level1.board24_m10
                      a(href="#!").board24_mob-level1__button  Корпоративное управление
                      img.board24_mob-level1__img(src="assets/img/mob-main/img1.png",alt="img")
                    .board24_plaha-dark__text.board24_m15 Утверждение Плана работы Совета директоров на 2020 год. Обеспечение нашей деятельности. Принятие решение 456 789 890 от 8 апреля 2020.
                    +button-blue-small("Перейти к голосованию","group.html")

                  .board24_mob-project
                    .board24_mob-project__title  Проект решения №1.
                    .board24_mob-project__text Таким образом, дальнейшее развитие различных форм деятельности напрямую зависит от форм воздействия. Принимая во внимание показатели успешности...
                  .board24_mob-project
                    .board24_mob-project__title  Проект решения №2.
                    .board24_mob-project__text Таким образом, дальнейшее развитие различных форм деятельности напрямую зависит от форм воздействия. Принимая во внимание показатели успешности...

                  .board24_mob-comments Комментарии 
                  .board24_mob-comments-area.board24_m13
                    .board24_mob-comments-area__text Lorem ipsum dolor sit amet, ut per pertinax assueverit, dissentias honestatis usu an. Ei vim feugait aliquando, mei enim insolens ut.

            include ../includes/mob/mob-person
