include ../common/mixins
doctype html
html
  head
    title mob-1-company
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   

  body
    div.wrapper
      main.page
        section.board_24__mob-main.board_24__mob-meetings.board24__mob-1-company
          .board_24__mob-container.container-js
            .board_24__mob-main__body
              .board_24__mob-header
                .board_24__mob-logo
                  img(src="assets/img/main/main-1.svg",alt="img")   
                span.icon-menu
              .board_24__mob-plaha
                a.board24_avatar-name(href="#!")
                  img(src="assets/img/main/image-1.png",alt="img")
                  .board24_board24_avatar-name__name
                    p Иван Иванов
                a.board_24__bell(href="#!")
                  img(src="assets/img/mob-main/bell.svg",alt="img")
              .board24_m10
                        //-  синяя кнопка
              #board24_poup-assignment-button.board_24__acent-button
                a(href="#!")  Поставить задачу
              include ../includes/mob/mob-acent-button
              .board24_m10
              include ../includes/mob/mob-tab-компания
              .board24__mob-1-company__content
                .board24_middle-plaza__title.Text-Style-22 Новости компании 
                div
                  .board24_middle-plaza__line
                    a.board24_middle-plaza__date(href="#!")
                      h6 PR | 13.08.2019
                    a.board24_middle-plaza__header(href="#!")
                      h5 QaztechVentures подписал меморандум с Boundless Group
                    .board24_middle-plaza__img(href="#!")
                      .board24_ibg.board24_bg
                        img(src="assets/img/main/image-2.png",alt="img")
                    .board24_middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и        интеграцию отечественных стартапов в глобальную экосистему инноваций. Миссия Boundless Group заключается в том,        что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо       стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину,      профессионализм и предпринимательские навыки у американских коллег.
                  .board24_middle-plaza__line
                    a.board24_middle-plaza__date(href="#!")
                      h6 PR | 13.08.2019
                    a.board24_middle-plaza__header(href="#!") 
                      h5 QaztechVentures подписал меморандум с Boundless Group 
                    .board24_middle-plaza__img(href="#!")
                      .board24_ibg.board24_bg
                        img(src="assets/img/main/image-2.png",alt="img")
                    .board24_middle-plaza__text Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и       интеграцию отечественных стартапов в глобальную экосистему инноваций. Миссия Boundless Group заключается в том,      что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине,где помимо      стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину,    профессионализм и предпринимательские навыки у американских коллег.
                    .board24__mob-1-company__
                    .board24__mob-1-company__
                    .board24__mob-1-company__
            
            include ../includes/mob/mob-person
