


include ../common/mixins

.board24_wrapper
  main.board24_page
    section.board24_home
      .board24_middle__title 
        h2 BOARD 24
      hr
      +button-color("Подготовка","butterscotch","home.html")
      hr
      +button-color("Проведение","apple-green","home.html")
      hr
      +button-color("Завершено","silver","home.html")
      hr
      +button-color-cub("Проведение","apple-green","home.html")
      hr
      +button-blue("Перейти к заседанию","home.html")
      hr
      +button-blue-small("Перейти к заседанию","home.html")

