.board24_middle-inter {
  .icon-arrow_drop_down {
    color: $greyish;
    font-size: 18px;
  }
a {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-decoration: none;
  @include anim(0.2s);
  &:hover {
    cursor: pointer;
    z-index: 5;
// @include scale(1.03);
  }
}
 

  .board24_text-stile {
    @include Text-Style;
    opacity: 0.4;
  }
  .board24_middle-plaza__stretsh {
    padding: 14px 24px 0 24px;
    // background-color: #d24a4c;
  }
  // --------------.board24_inter-plaza--------------------

  .board24_inter-plaza {
    flex: 0 1 100%;
    background-color: $ice-blue;
    margin: 25px 0 0 0;
    padding: 7px 24px 36px 24px;
    box-sizing: border-box;
    hr {
      height: 1px;
      background-color: $silver;
      opacity: 0.3;
    }

    // .board24_inter-plaza__header {
    //   @include small-3---regular-10-16-02px;
    // }
    .board24_inter-plaza__discription {
      // @include Body-1---regular-13-20-01px;
      padding: 3px 0 0px;
    }

    // ---------------------------------
    .board24_inter-plaza__text-area1 {
      margin: 14px 0 0 0;
    }
    // --------------------------------
    &__corvet1 {
      margin: 29px 0 8px 54px;
    }
   
  }

  .board24_inter__button1 {
    margin: 10px 0 27px 0;
  }
  //  ------.board24_inter-plaza2----------
  .board24_inter-plaza2 {
    background-color: $ice-blue;
    box-sizing: border-box;
    padding: 17px 24px 40px 78px;
    @include fdc();


.board24_inter__forma{
margin: 12px 0 0 0;
}

    &__corvet5 {
      margin: 10px 0 0 0;
    }
    &__corvet6 {
      margin: 28px 0 0;
    }
    &__corvet7 {
      margin: 9px 0 0 0;
    }

    .board24_button-empty {
      width: 180px;
      height: 30px;
      border-radius: 4px;
      border: solid 1px $azure;
      margin: 22px 0 0 73px;
    }

    // ---------------------------------
  
  }

  // -------button1------------------------------
  .board24_inter__button1 {
    width: 210px;
    height: 30px;
    .board24_button-empty {
      width: 100%;
      height: 100%;
    }
  }

  // ------------button2--------------------

  .board24_inter__button2 {
    width: 150px;
    height: 30px;
    margin: 22px 0 44px 0;
    .board24_button-blue {
      width: 100%;
      height: 100%;
      .board24_button-blue__link {
        @include Text-Style-33;
      }
    }
  }


  // -----------------------------------

  .board24_inter__button3 {
    width: 180px;
    height: 40px;
    margin: 36px auto;
    .board24_button-blue {
      width: 100%;
      height: 100%;
      .board24_button-blue__link {
        @include Button---semibold-13-20-01px;
      }
    }
  }
}
  // ------------раздел с комментариями*----------------------------

  .board24_inter-comments {
    .board24_inter-comments__title {
      margin: 0 0 10px 0;
    }
    .board24_inter-comments__block {
      @include jucb();
      .board24_inter-comments__plaha {
        width: 92.3%;
        height: 110px;
        border-radius: 4px;
        border: solid 1px #e5e5e5;
        background-color: $pale-grey;
        padding: 16px;
        box-sizing: border-box;
        position: relative;
    
        .board24_inter-plaza__link {
          position: absolute;
          width: 16px;
          height: 16px;
          bottom: 13px;
          right: 13px;
        }
      }
      .board24_inter-comments__shef {
        margin: 0 auto;
      }
    }
  }
