@import "../includes/main/menu.scss";
@import "../includes/main/person.scss";

.board24_home {
  &__wrapper {
    width: 100%;
    // height: 100vh;
    position: relative;
    min-width: 1110px;
    position: relative;
    @include jucs();
  }
}

// -------------------------------------------------

.board24_middle {
  margin: 0 30px 70px 0;
  flex: 1 0 20%;
  // overflow-y: scroll;
  scrollbar-width: none;
// &_main{
//   margin: 0 30px 0 0; 
// }

  &::-webkit-scrollbar {
    width: 0;
  }

  &__body {
    height: 100%;
    position: relative;
  }

  &__title {
    padding: 0 0 0 21px;
  }

  &__plaza {
    border-radius: 4px;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
    background-color: $white;
  }

  .board24_middle-plaza {
    &__body {
      width: 100%;
      height: 100%;
      @include flex();
      // max-height: 670px;
      .board24_middle-plaza__title {
        padding: 0 0 0 0;
        @include Text-Style-22;
      }
    }
    &__link {
      @include Text-Style-29;
      width: auto;
    }
    // ------------------------
    &__static {
      flex: 0 1 482px;
      margin: 0 0 20px 0;
    }
    &__line-left {
      padding: 12px 0 8px;
      @include jucb();
    }
    &__calendar {
      width: 100%;
      // height: 240px;
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
      background-color: $white;
      border-top-left-radius: 4px;
    }
    &__column {
      padding: 13px 23px 0;

      .board24_line-plaha {
        height: 136px;
        border-radius: 4px;
        border: solid 1px #e5e5e5;
        background-color: $white;
        margin: 10px auto 0 auto;
        padding: 12px;

        .board24_line-plaha__miting {
          opacity: 0.5;
          width: auto;
          height: auto;
          @include Text-Style-37;
        }
        &__text {
          padding: 9px 38px 3px 0 !important;
        }
        &__data {
          padding: 5px 0 0 0;
        }
        &__text-link {
          padding: 0 20px 0 0;
          color: $azure !important;
          width: auto;
          height: auto;
          @include Text-Style-37;
        }
        &__img1 {
          @include fdc();
          position: absolute;
          width: 10px;
          height: 10px;
          right: 0%;
          top: 50%;
          transform: translate(0%, -50%);
        }
        &__download {
          position: relative;
          margin: 11px 0 0 0;
        }
        span {
          @include Text-Style-35;
        }
        &__light {
          opacity: 0.5;
          margin: 0 6px 0 0;
        }
        .board24_alic {
          @include jucb();
          width: 100%;
        }
        &__text {
          padding: 5px 38px 3px 0;
        }
      }
    }
    &__line {
      @include jucb();
      position: relative;
    }
    .board24_line-button {
      position: relative;
      flex: 0 1 28.3%;

      .board24_person-cabinet__mark {
        left: 100px;
        width: auto;
        padding: 0 5px;
      }
      &:last-child {
        a {
          color: $bluey-grey;
        }
      }
    }
    // -----------------
    &__stretsh {
      border-radius: 4px;
      background-color: $pale-grey-two;
      padding: 26px 24px 0;
      flex: 1 0 20%;
      // margin: 0 0 20px;
      // &_main{
      // margin: 0;
      // }
    }

    // ----------------------------------

    &__line {
      padding: 20px 0 20px;

      .board24_middle-plaza__link {
        @include Text-Style-39;
        color: $azure;
        &_big {
          flex: 0 1 100%;
        }
      }
      .board24_button-color-cub {
        width: 120px;
        height: 20px;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: transparent;
        margin: 0 10px 0 0;
        a {
          font-family: OpenSans;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #707683 !important;
        }
      }

      .board24_middle-plaza__date {
        height: auto;
        // flex: 0 1 34%;
        width: auto;
        position: relative;
        @include Text-Style-25;
        margin: 0 67px 0 0;
      }
    }

    // -----------------------------------------

    &__title {
      padding: 25px 0 0 0;
    }
    &__img {
      position: relative;
      padding: 0 0 51%;
      margin: 19px 0 0 0;
      width: 100%;
    }
    &__text {
      @include Text-Style-39;
      padding: 14px 0 0 0;
      flex: 0 1 100%;
    }
    &__header {
      padding: 0 0 0 0;
      width: auto;
      height: auto;
      flex: 1 1 35%;
    }
  }

.board24_plat {
  width: 280px !important;
  border-radius: 4px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
  background-color: $white;
  opacity: 1 !important;
  position: relative;
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 2;
  box-sizing: border-box;
  padding: 15px 24px 58px;
  transform: translate(0, -50%);
  &:after {
    content: "";
    background-color: $white;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 0%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
  }
  &:before {
    content: "";
    background-color: $white;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    z-index: 2;
  }
  .board24_text {
    width: 70%;
  }
}







}

// -----------------------------------------------------------

// ------------------
.board24_calendar {
  .board24_calendar__body {
    box-sizing: border-box;
    width: 483px;
    // height: 240px;
    // background-color: rgba(36, 36, 36, 0.2);
    padding: 28px 23px;
    border-top-left-radius: 4px;
    .board24_calendar__header {
      @include jucb();
      padding: 2px 0 0 0;
    }
    .board24_calendar__date {
      @include jucs();
      span {
        @include Text-Style-23;
        padding: 0 0 0 5px;
      }
    }
    .board24_calendar__show {
      @include Text-Style-35;
      position: relative;
      padding: 0 3px 0 0;

      .board24_calendar__triangle {
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translateY(-50%);

        &:hover {
          span {
            color: $azure;
          }
        }
        span {
          font-size: 22px;
          color: $greyish;
          @include anim(0.3s);
        }
      }
      .board24_calendar__link {
        @include Text-Style-29;
        padding: 0 16px 0 2px;
      }
    }
    .board24_calendar__table {
      padding: 8px 0 0;
    }
    // ---------------------
    .board24_calendar-table {
      .board24_calendar-table__row {
        @include jucb();
        margin: 0 0 8px 0;
        // outline: 1px solid blue;

        .board24_calendar-table__item {
          @include jucc();
          @include Text-Style-24;
          width: 30px;
          // outline: 2px solid green;
        }
        .board24_calendar-table__item.board24_table-row-active {
          @include Text-Style-26;
        }
      }

      // -----------------------------------------------------
      .board24_calendar-table__row-numbers {
        @include jucb();
        .board24_calendar-table__item {
          @include Text-Style-25;
          @include center();
          padding: 0 3px;
          height: 24px;
          width: 24px;
          margin: 0 3px;
          position: relative;
          &_next {
            @include Text-Style-28;
          }
        }
        .board24_calendar-table__item.board24_table-active {
          background-color: $azure;
          border-radius: 50%;
          @include Text-Style-27;
          box-sizing: border-box;
        }
      }
      // --------------------------------
    }
  }
}

// .board24_plaha {
//   width: 280px !important;
//   border-radius: 4px;
//   box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
//   background-color: $white;
//   opacity: 1 !important;
//   position: relative;
//   position: absolute;
//   top: 50%;
//   left: 25px;
//   z-index: 2;
//   box-sizing: border-box;
//   padding: 15px 24px 58px;
//   transform: translate(0, -50%);
//   &:after {
//     content: "";
//     background-color: $white;
//     position: absolute;
//     width: 10px;
//     height: 10px;
//     top: 50%;
//     left: 0%;
//     box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
//     transform: translate(-50%, -50%) rotate(45deg);
//     z-index: -1;
//   }
//   &:before {
//     content: "";
//     background-color: $white;
//     position: absolute;
//     width: 20px;
//     height: 20px;
//     top: 50%;
//     left: 0%;
//     transform: translate(0, -50%);
//     z-index: 2;
//   }
//   .board24_text {
//     width: 70%;
//   }
// }

.board24_plaha-mid,
.board24_plaha-big {
  padding: 15px 24px 40px;
  .board24_text {
    width: 100%;
  }
}
.board24_plaha-big {
  padding: 15px 24px 14px 24px;
}
