@import "../includes/main/menu.scss";

.home {
  &__wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 60px 0 0 0;
  }
  &__body {
    width: 100%;
    height: 100%;
    position: relative;
                @include jucs();

  }
}


.menu-side {
  &__wrapper {
    width: 220px;
    height: 200px;
    position: relative;
    margin: 7px 0 0 0;
    
  }
 
&__plaza{
  width: 100%;
  height: 100%;
}
  .menu-side-plaza {
    &__body {
      position: relative;
width: 100%;
height: 100%;
    }
    &__item {
display: inline-flex;
border-radius: 20px;
padding: 0 20px;
margin: 0 0 10px 0;
background-color: transparent;
@include anim(0.2s);
      &:hover {
      background-color: #9e9e9e;
      .menu-side-plaza__link{
         color: $white; 
      }
      }
    }
    &__link {
      @include Text-Style-18;
      line-height: 2;
    }
  }
}







.middle {
  margin: 0 auto 0 0;
  flex: 0 1 62%;
  &__body {
    height: 100%;
    position: relative;
    // min-width: 1024px;
    margin: 11px 0 0 0;
  }

&__title{
padding: 0 0 0 21px;
}


  &__plaza {
  max-height: 670px;
  border-radius: 4px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  background-color: $white;
  margin: 23px 0 0 0;
  }

    

  .middle-plaza {
    &__body {
      width: 100%;
      height: 100%;
            @include flex();

    }
   
 
     &__static {
flex: 0 1 483px;
height: 240px;
    }
   &__calendar{
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  background-color: $white;
    }

    &__stretsh{
      border-radius: 4px;
  background-color: $pale-grey-two;
  flex: 1 0 20%; 
  padding: 0 24px;
  overflow-y: scroll;
max-height: 670px;
    }
    &__line{
             padding: 20px 0 22px;
    }
    &__title{
        padding: 25px 0 0 0;
    }
    &__img{
    position: relative;
    padding: 0 0 51%;
    margin: 19px 0 0 0;
    }
    &__text{
    padding: 0 0 0 0;
    @include Text-Style-39;
    padding: 14px 0 0 0;
    
    }
    &__header{
    padding: 0 0 0 0;
    @include Text-Style-38;
    }
  }
}


.person{

 &__body{
  width: 255px;
  // height: 800px;
 position: relative;
}
&__button{

}
&__cabinet{
  width: 255px;
  height: 455px;
 overflow: hidden;
margin: 19px 0 0;
}
&__link{
 margin: 10px 0 0 0;
}


.person-cabinet{
  &__body{
  width: 100%;
  height: 100%;
  padding: 24px 12px;
    @include flex();
        @include fdc();

 border-radius: 4px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  background-color: $white;
  }
  &__img{
  width: 40px;
  height: 40px;
    margin: 0 18px 0 0;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
  }
}
.flex-align{
  margin: 0 0 48px 0;
}

&__line{
@include Text-Style-40;
position: relative;
// flex: 0 1 100%;
padding: 0 0 0 58px;
margin: 0 0 29px 0;
}
&__mark{
 width: 32px;
  height: 16px;
  border-radius: 10px;
  background-color: $butterscotch;
  @include Text-Style-31;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate( 0%, -50%); 
}
  }

&__link{
  width: 255px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  background-color: $white;
  @include center();
}

}




