@import "../includes/meet-1/person-meet.scss";

.board24_middle-meet-1 {
  margin: 0 30px 50px 0;
  .board24_meet-nav {
    margin: 0 0 16px 0;
    font-family: OpenSans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #6a707e;
    height: 42px;
    position: relative;
    &__img {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $azure;
      border-left: 2px solid $azure;
      transform: rotate(45deg);
      margin: 0 6px 0 2px;
    }
  }

  .board24_middle-plaza__stretsh {
    margin: 0 0 0 0;
    padding: 24px 0 0;
  }
  .board24_stretsh-meet-1 {
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 25px 0px 95px;
    box-sizing: border-box;
    position: relative;
    padding: 24px 0 30px 0;

    .board24_icon-js {
      &:hover {
        cursor: pointer;
      }
    }
    // -----------
    .board24_text1-band {
      .board24_img3_minus {
        @include Text-Style-48;
        font-size: 25px;
        margin-top: -34px;
      }
    }
    // -----------line-------------------
    &__line {
      padding: 0 24px;
      box-sizing: border-box;
      margin: 0 0 12px 0;
      #board24_link-meet {
        &:hover {
          cursor: pointer;
        }
      }
      &_line1 {
      }
      &_line2 {
      }
      &_line3 {
        margin: 23px 0 0 0;

        .board24_left {
          .board24_text {
            .board24_ts-34 {
              margin: 0 6px 0 0;
            }
            .board24_ts-14 {
              margin: 0 0 0 9px;
            }
          }

          .board24_link {
            display: inline-flex;
          }

          .board24_stretsh-meet-1__line__files {
            .board24_stretsh-meet-1__line__file {
              @include jucs();
            }
          }
          .board24_directives {
            @include jucs();
            margin: 20px 0 0 0;
            a {
              width: auto !important;
              padding: 0 50px 0 0;
            }
          }
        }

        .board24_right {
          .icon-arrow_drop_down {
            margin: 0 0 0 2px;
          }
          .icon-delete {
            margin: 0 0 0 12px;
          }
          .icon-edit {
            margin: 0 0 0 16px;
          }
        }
      }
      &_line4 {
        padding: 24px 24px 22px;
      }

      // ----------------
      &_line5 {
        .board24_plaza {
          width: 94.5%;
          border-radius: 4px;
          margin: 0 auto;
          background-color: $pale-grey-two;
          padding: 14px 15px 20px 24px;
          box-sizing: border-box;
          .board24_text1 {
            margin: 0 20px 0 0;
          }

          .board24_text2 {
            margin: 14px 0 0 0;
          }
          .board24_level {
            margin: 20px 0 0 0;
            .board24_button-blue {
              margin: 0 20px 0 0;
              width: 180px;
              height: 22px;
              a {
                @include Text-Style-33;
              }
            }

            .board24_ts-36 {
              margin: 0 auto 0 0;
              img {
                margin: 0 0 0 5px;
              }
            }

            .board24_chef__img {
              width: 24px;
              height: 24px;
              margin: 0 0 0 14px;
            }
          }
        }
      }

      // -------------

      &_line6 {
        margin: 37px 0 0 0;
        .board24_button-blue {
          width: 180px;
          height: 30px;
          margin: 0 16px 0 0;
          &:last-child {
            // background-color: $coral-two;
            margin: 0 0 0 0;
          }

          &__link {
            @include Text-Style-33;
          }
        }
        .board24_button-empty {
          width: 180px;
          height: 30px;
          margin: 0 16px 0 0;
          &:last-child {
            margin: 0 0 0 0;
          }
          &__link {
            @include Text-Style-36;
          }
        }
      }
      // -----

      &_line7 {
        // width: 83.6%;
        //  width: 89.6%;
        border-radius: 4px;
        // padding: 14px 15px 20px 24px;
        box-sizing: border-box;

        // background-color: $white;
        // padding: 16px 24px 33px;
        // margin: 0 0 0 auto;

        .board24_plaza {
          width: 94.5%;
          margin: 0 auto;
          box-sizing: border-box;
          .board24_plaza-wrap {
            padding: 16px 24px 33px;
            background-color: $white;
            border: solid 1px #e5e5e5;
            border-radius: 4px;
            width: 93.8%;
            height: 100%;
            box-sizing: border-box;
          }
        }
      }
      // -----

      // ---------------

      &_line8 {
        padding: 30px 24px 0;
        .board24_plaza {
          width: 89.6%;
          margin: 0 auto;
          padding: 0 !important;
        }
      }
      &_line9 {
      }
    }

    .board24_inter__comments {
      padding: 27px 0 0 0;
      width: 100%;
      height: 100%;
      .board24_inter-comments__block {
        .board24_inter-comments__plaha {
         width: 87.4% !important;
        }
      }
      .board24_inter-comments__shef {
        margin: 0 auto 0 24px;
      }
    }
    // --------------plaza-----------------------
    &__plaza {
      // ----
      &_blue1 {
        .board24_left {
          .board24_text2 {
            font-family: OpenSans;
            font-style: italic;
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.1px;
            color: #109cf1;
          }
        }
      }
      // ----
      &_blue2 {
        .board24_inter-plaza {
          .board24_left {
            .board24_italic {
              position: relative;
              .board24_text1-band {
                width: 193.4%;
                z-index: 5;
                @include alic();
                position: absolute;
                height: 100%;
                top: 50%;
                left: 114.461538%;
                transform: translate(0, -50%);
                .board24_text1-band-img {
                  width: 8px;
                  height: 8px;
                }
              }
            }
          }
        }
      }

      // ----

      // ----
      .board24_inter-plaza {
        box-sizing: border-box;
        padding: 0 27px 35px;
        .board24_link {
          &:hover {
            cursor: pointer;
          }
        }
        .board24_title {
          padding: 28px 0 2px;

          .board24_link {
            margin: 0 auto 0 20px;
          }
        }
        // -----------

        .board24_load-statistic {
          &:hover {
            cursor: pointer;
          }
        }
        .board24_del-statistic {
          &:hover {
            cursor: pointer;
          }
        }
        .board24_left {
          flex: 0 1 32.5%;
          padding: 30px 0 0 0;

          .board24_text1,
          .board24_text2 {
            padding: 0 0 0 14px;
          }
          // ----
          .board24_text1 {
            position: relative;

            .board24_text1-band {
              width: 193.4%;
              z-index: 5;
              @include alic();
              position: absolute;
              height: 100%;
              top: 50%;
              left: 114.461538%;

              transform: translate(0, -50%);
              .board24_text1-band-img {
                width: 8px;
                height: 8px;
              }
            }
          }

          .board24_text {
            padding: 20px 0 0 0;
          }
        }
        // -----------------
        // -----------------
        // -----------------
        // -----------------
        .board24_right {
          flex: 0 1 62.8%;
          padding: 16px 0 0 0;

          .board24_column {
            width: 8.4%;
            // height: 343px;
            border-radius: 4px;
            background-color: $white;
            margin: 0 6px 0 0;
            position: relative;
            @include anim(0.3s);
            .board24_line-check {
              position: absolute;
              background-color: #4e3710;
              opacity: 0.5;
              width: 8px;
              height: 100%;
              top: 0%;
              left: 50%;
              transform: translate(-50%, 0);
            }
            &:last-child {
              margin: 0 0 0 0;
            }

            // -----
            .board24_chef__img {
              width: 30px;
              height: 30px;
              margin: 5px 0 0 0;
              position: relative;
              &:hover {
                cursor: pointer;
              }
              // --------
              .board24_person {
                position: relative;
                position: absolute;
                width: 240px;
                height: 100px;
                top: -36px;
                left: 22px;
                border-radius: 4px;
                box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
                background-color: $white;
                z-index: 2;
                padding: 16px;
                box-sizing: border-box;
                display: none;
                &:after {
                  content: "";
                  background-color: $white;
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  left: -5px;
                  top: 50%;
                  transform: translate(0, -50%) rotate(45deg);
                }
              }
              // ------
            }
            .board24_img1 {
              margin: 82px 0 0 0;
              width: 8px;
            }
            .board24_img2 {
              margin: 50px 0 0 0;
              width: 8px;
            }
            .board24_img3 {
              margin: 120px 0 0 0;
              width: 8px;
            }
          }
        }
      }
    }
    // ----------------------
  }
}

#board24_person-meet-popup {
      position: relative;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 1000;
  .board24_popup {
    &__overlay {
        width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.56);
    overflow: visible;
    z-index: 1000;
    padding: 50px 0;
    @include center();
    }
    &__plaha {
    }

    &__discription {
      width: 40%;
      padding: 12px 0 0 0;
    }

    &__body {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      width: 825px;
      border-radius: 4px;
      background-color: $ice-blue;
      padding: 30px 27px 90px;
      position: relative;
      // -----------
      .board24_popup-plaha {
        border-radius: 4px;
        background-color: $white;
        &__body {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 5px;
          box-sizing: border-box;
          .board24_avatar-link {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
          }
          .board24_avatar-name {
            @include alic();
          }
        }
      }
    }
  }
}

// ------------------------------------------------

#board24_person-meet-popup-add-voice {
  // z-index: 1110;
  // @include center();
  // position: fixed;
  // width: 100vw;
  // height: 100vh;
  // top: 0;
  // left: 0;
  // background-color: rgba(0,0,0,.8);
  .icon-close2 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    font-size: 10px;
  }
  .board24_meet__overlay {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 0%;
    // left: 0%;
    // z-index: 1;
  }
  .board24_popup__body {
    width: 825px;
    // height: 400px;

    // background: #ffffff;
    // box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
    // border-radius: 4px;
    // margin: 0 0 0 0;
    // position: relative;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    padding: 23px 45px 36px 24px;
    // box-sizing: border-box;
    z-index: 10000;
  }

  .board24_meet-mob-title {
    font-family: OpenSans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #323c47;
    padding: 0 0 40px 0;
  }
  .inter6-plaza2__corvet {
    width: 100%;
    position: relative;
    @include juce();
    margin: 8px 0 0 0;
  }
  .board24-corvet__text {
    flex: 0 1 10%;
    margin: 0 10px 0 0;
  }

  input {
    width: 630px !important;
    height: 40px;
    padding: 0 0 0 10px;
    position: relative !important;
    margin: 0 0 0 0;
    font-family: OpenSans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #90a0b7;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus + .board24_ts {
      z-index: -1;
    }
  }

  .board24-corvet-a {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 75%;
    transform: translate(0%, -50%);
  }

  .board24_ts {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 14px;
    font-size: 12px;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .board24_button-empty {
    width: 180px;
    height: 30px;
    margin: 24px 0 0 126px;
    box-sizing: border-box;
  }
  .board24_inter6__buttons1 {
    height: 30px;
    @include jucs();
    margin: 50px 0 0 0 !important;
    .board24_button-empty {
      margin: 0 16px 0 0;
    }
    .board24_button-blue {
      width: 180px;
      height: 30px;
      box-sizing: border-box;
    }

    .board24_inter-forma {
      // display: inline-block;
      width: 200px;
      padding: 0 0 0 0;
      height: 100%;
    }
    .board24_inter-forma__item input {
      width: auto !important;
      height: auto;
    }
  }
  .board24_corvet__area-buttons {
    position: relative;
    .board24_button-empty {
      // &_trans{
      //     position: absolute;
      // top: 0%;
      // left: 0%;
      //     z-index: 4;
      // background:white;
      // }

      &_orange {
        background: #ffb946;
        border: 1px solid #ffb946;
        // position: absolute;
        // top: 0%;
        // left: 0%;z-index: 3;
        a {
          color: white;
        }
      }
      &_green {
        background: #84c729;
        border: 1px solid #84c729;
        //  position: absolute;
        // top: 0%;
        // left: 0%;z-index: 2;
        a {
          color: white;
        }
      }
      &_red {
        background: #f7685b;
        border: 1px solid #f7685b;
        //  position: absolute;
        // top: 0%;
        // left: 0%;z-index: 1;
        a {
          color: white;
        }
      }
    }
  }
}
// ----------------------------

#board24_middle-inter-10 {
  position: relative;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 1000;
  .board24_popup__overlay {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.56);
    overflow: visible;
    z-index: 1000;
    padding: 50px 0;
    @include center();
  }
  .board24_middle-inter-10 {
    z-index: 2;
        width: 825px !important;
        padding: 18px 24px 47px 21px!important;
  }
}

.board24_inter-plaza__discription {
  .board24_inter-forma {
    padding: 0 0 0 0;
  }
  input.board24_bot__input {
    width: auto !important;
    height: auto !important;
    position: relative !important;
    padding: 0 0 0 0;
    border: none;
  }
}

.board24_area1__input {
  border: none;
  &:focus {
    outline: none;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:focus + .board24_ts {
    z-index: -1;
  }
}

// ------------meet-1__popup1------------------
.board24_meet-1__popup1 {
  .board24_meet__center {
    // height: 397px;
    width: 825px;
    padding: 47px 120px 70px;
    @include alic();
    @include fdc();
    margin: 0 auto
  }
  .board24_meet__buttons {
    padding: 45px 0 0 0;
  }

  .board24_inter__comments {
    width: 100%;
    padding: 22px 0 0 0;
  }

  .board24_inter-comments__block {
    @include jucb();
  }
  .board24_inter-comments__plaha {
    width: 514px !important;
    height: 80px !important;
    padding: 0 0 0 0 !important;
    textarea {
      width: 514px !important;
      height: 80px !important;
      max-width: 514px !important;
      max-height: 80px !important;
      background-color: transparent;
      border: none;
      resize: none;
      padding: 16px;
      font-family: OpenSans;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #192a3e;
      &:focus {
        outline: none;
        & + .icon-edit {
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
      }
      &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }

    .icon-edit {
      position: absolute;
      width: 16px;
      height: 16px;
      right: 10px;
      bottom: 10px;
      transition: all 0.3s ease-in-out;
    }
  }

  .board24_meet__title {

    span:nth-child(2) {
      color: $azure;
    }
  }

  .board24_inter-comments__shef {
    margin: 0 0 0 0 !important;

    .board24_chef__img {
      width: 46px;
      height: 46px;
    }
    .board24_chef__img .act {
      .board24_inter-comments__shef {
        background-color: transparent !important;
      }
    }

    img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
}



.meet-1-popup1-js,.meet-1-popup2-js {
  &:hover {
    cursor: pointer;
  }
}
// -------------
.board24_meet-1__popup2{
  .board24_meet{
&__center{
  min-height: 546px !important;
  height: auto !important;
      padding: 47px 120px 54px;
      position: relative;
}
  }
.board24_inter-4-box1{
  padding-right: 19px;
}
.board24_inter-4-box1__tab{
  .board24_inter-4-box1__tab-span{
    font-family: OpenSans;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 16px;
letter-spacing: 0.2px;
color: #90A0B7;
margin: 0 16px 0 auto;
  }
  .board24_line-plaha__img1{
width: 7px;height: 9px;
  }
}
.board24_middle-inter-4__box1{
  width: 584px;
  
}
.icon-arrow_drop_down{
  transition: all 0.3s ease-in-out;
  right: -8px;
}
.board24_box1-color-bar__item {
  width: 50px!important;
}
.board24_meet__buttons {
    padding: 20px 0 0;
}



}
