.board24_meet {
  margin: 0 0 0 0;
  .board24_meet__body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
    // background-color: #d4b584;
    background-color: transparent;
  }

  &__body {
  }

  &__nav {
  }

  &__content {
    margin: 16px 0 0 0;
  }

  // ---------------------------------
  .board24_meet-nav {
    //  ---------
    &__body {
      padding: 0 20px;
      flex: 1 1 auto;
      margin: 0 24px 0 0;
      height: 42px;
      border-radius: 4px;
      background-color: $white;
      border: solid 1px $pale-grey;
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      h2 {
        margin: 0 32px 0 0;
      }

      form {
        flex: 1 1 auto;
        @include alic();
        margin: 0 0 0 0;
        .board24_bot {
          width: 19.7%;
          min-width: 130px;
          height: 30px;
          margin: 0 10px 0 0;
          position: relative;

          span.board24_form-span {
            position: absolute;
            width: 15px;
            height: 15px;
            font-size: 15px;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 2;
          }

          .board24_bot__text-area {
            min-width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 4px;
            border: solid 1px #e5e5e5;
            background-color: $white;
          }

          input {
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            z-index: -1;
            border: none;
            position: absolute;
          }
          input:focus {
            outline: none !important;
          }
        }

        .board24_button-empty {
          width: 13% !important;
          min-width: 90px !important;

          margin: 0 0 0 auto !important;
          input {
            background-color: white;
            border: none;
            border-radius: 4px;
            width: 100%;
            height: 100%;
          }
          input:focus {
            border: 3px solid #109cf1;
            outline: none;
          }
        }

        .select {
          display: block;
          // max-width: 215px;
          width: 100%;
          height: 100%;
          position: relative; 
          font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .1px;
    color: #6a707e;
        }

        .new-select {
          position: relative;
          // border: 1px solid #ced4da;
          // padding: 10px 15px;
          cursor: pointer;
          user-select: none;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          border: solid 1px #e5e5e5;
          background-color: $white;
          box-sizing: border-box;
          @include alic();
          font-size: 10px !important;
          padding: 3px 10px;

        }

        .new-select__list {
          position: absolute;
          top: 31px;
          left: 0;
          border-radius: 4px;
          border: solid 1px #e5e5e5;
          cursor: pointer;
          width: 100%;
          z-index: 2;
          background: #fff;
          user-select: none;
          box-sizing: border-box;

        }

        .new-select__list.on {
          display: block;
                      
        }

        .new-select__item span {
          display: block;
          padding: 10px 15px;
          font-size: 10px !important;
   
        }

        .new-select__item span:hover {
          color: #109cf1;
        }

        .new-select:after {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          position: absolute;
          right: 9px;
          top: 9px;
          // background: url('path-to-image') no-repeat right center / cover;
          opacity: 0.6;

          -webkit-transition: all 0.27s ease-in-out;
          -o-transition: all 0.27s ease-in-out;
          transition: all 0.27s ease-in-out;

          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        .new-select.on:after {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }

        .board24_button-empty {
          width: 11%;
          height: 30px;
          box-sizing: border-box;
          margin: 0 0 0 auto;
        }
      }
      //  ===================== //
      // .board24_bot {
      //   width: 15.7%;
      //   height: 30px;
      //   margin: 0 10px 0 0;
      //   position: relative;
      //   .board24_bot__text-area {
      //     min-width: 100%;
      //     height: 100%;
      //     box-sizing: border-box;
      //     border-radius: 4px;
      //     border: solid 1px #e5e5e5;
      //     background-color: $white;
      //   }
      // }
      // .board24_button-empty {
      //   width: 11%;
      //   height: 30px;
      //   box-sizing: border-box;
      //   margin: 0 0 0 auto;
      // }
      // ================================================
    }

    // ---------

    .board24_button-blue {
      margin: 0 0 0 0;
      width: 255px;
      height: 42px;
      border-radius: 4px;
      box-shadow: 0 4px 10px 0 rgba(16, 156, 241, 0.24);
      background-color: $azure;
    }

    box-sizing: border-box;
  }
  // ---------------------
  .board24_meet-content {
    background-color: $white;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    // background-color: #64c29e;
    &__body {
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
    }
    &__line {
      &_high {
        height: 48px !important;
      }
    }
    // --------------
    .meet-content-line {
      width: 100%;
      height: 64px;
      border-bottom: 1px solid $pale-grey-two;
      box-sizing: border-box;
      border-radius: 4px;
      &__body {
        width: 100%;
        height: 100%;
        padding: 0 24px;
        box-sizing: border-box;
      }

      &__status {
        width: 96px;
        margin: 0 12px 0 0;
      }

      .board24_inter-forma {
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        padding: 0 0 0 0;
        margin: 0 24px 0 0;
        .board24_inter-forma__item {
          width: 100%;
          height: 100%;
        }
      }
      .board24_button-color {
        width: 96px;
        height: 22px;
        margin: 0 12px 0 0;
        &_silver {
          a {
            @include Text-Style-32;
          }
        }
      }

      &__text {
        flex: 0 1 43.5%;
      }

      &__type {
        flex: 0 1 11.7%;
      }

      &__organ {
        flex: 0 1 21.3%;
      }

      &__date {
      }
    }

    // ----------
  }
  // -------------------------
}

.board24_meet {
  &__popup {
    position: absolute;
    width: 100vw;
    // min-height: 150vh;
    top: 0;
    left: 0;
    overflow: visible;
  }
  &__overlay {
    width: 100%;
    height: 100%;
    min-height: 150vh;
    background-color: rgba(0, 0, 0, 0.56);
    overflow: visible;
  }
  &__center {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#board24_meet-popup2 {
  .board24_meet__center {
    width: 800px;
    height: 223px;
    border-radius: 4px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);
    background-color: $white;
    padding: 38px 108px 45px;
    text-align: center;
    .board24_meet__buttons {
      width: 100%;

      .board24_button-empty {
        width: 280px;
        height: 48px;
        box-sizing: border-box;
        margin: 0 24px 0 0;
        .board24_button-empty__link {
          @include Text-Style-26;
        }
      }
      .board24_button-blue {
        width: 280px;
        height: 48px;
        box-sizing: border-box;
        margin: 0 0 0 0;
        .board24_button-blue__link {
          @include Text-Style-13;
        }
      }
    }
  }
}
