
  .board_24__mob-mission{
.board24_mob-button_active-active {
.board24_mob-errand{
  box-shadow: none;
}
  }
  }
  
  
  .board24_mob-errand {
box-shadow: none;
    &__body {
      width: 100%;
      height: 100%;
    }
   
    // --------------------------------------------
    .board24_mob-errand-list {
      &__body {
        background: #ffffff;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        width: 100%;
        height: 100%;
      }





      .board24_meet-content__line {
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #f5f6f8;

        .board24_meet-content-line__body {
          padding: 0 0 0 24px;
          height: 64px;
          box-sizing: border-box;
          @include alic();
          @include jucs();
        }

        .board24_inter-forma {
          padding: 0 0 0 0;
          @include center();
          label {
            margin: 0 0 0 0;
          }
        }

        .meet-content-line__img {
          height: 16px !important;
          margin: 0 0 0 14px;
        }

        .meet-content-line__text {
          margin: 0 0 5px 27px;
          flex: 0 1 60%;
        }
        .icon-more {
          font-size: 20px;
          margin: 0 2px 0 auto;
        }

        &:nth-child(1) {
          .board24_meet-content-line__body {
            height: 68px;
          }
        }
        &:nth-child(2) {
          .board24_meet-content-line__body {
            height: 48px;
          }
        }
      } // line

      // .board24_meet-content-line{

      // }
    } // list
  }
