body {
  min-height: 100vh;
  
}

.board_24__mob-main {
  @include fdc();
  * {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  textarea,input{
    resize:none;
    outline: none;
border: none;
    &:focus{
outline: none;
border: none;
}
&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  }
}

.board_24__mob-container {
  width: 100%;
  background: #f5f6f8;
  padding: 20px 16px 240px;
  position: relative;
  // @media (min-width: 376px) {
  //   display: none;
  // }
}

.board_24__mob-logo {
  width: 81px;
  height: 12px;
}

.board_24__mob-logo img {
  width: 100%;
  height: 100%;
}
.board_24__mob-main__body {
  .board_24__mob-header {
    padding: 0 0 15px 0;
    @include jucb();
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
    padding: 0 0 15px;
    top: 0;
    height: auto;
    transition: all 0.3s ease-out;
    z-index: 200;
  }
  .board_24__mob-header-act {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: rgba(36, 36, 36, 0.4);
    padding: 5px 15px 5px 15px !important;
    align-items: center;
  }

  .icon-menu {
    position: relative;
    font-size: 16px;
  }

  .board_24__mob-plaha {
    .board24_board24_avatar-name__name p {
      font-family: OpenSans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.1px;
    }
  }

  .board_24__mob-plaha {
    @include jucb();
    @include alic();
    padding: 0 20px;
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    height: 100px;
  }

  .board_24__acent-button {
    background: #109cf1;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
    width: 160px;
    height: 42px;
    @include center();

    a {
      font-family: OpenSans;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #ffffff;
    }
  }

  .board24_calendar {
    .board24_calendar__body {
      //  height: 153px;
      background: #ffffff;
      box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      width: 100%;
      padding: 28px 23px 20px;
    }

    .board24_calendar__table {
      padding: 33px 0 0;
    }
  }

  .board24_plat {
    // display: block !important;
    background: #ffffff;
    /* box shadow */

    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin: 10px 0 0 0;
  }

  .board24_text {
    padding: 0 0 0 20px;
  }

  .board24_ts-10 {
    padding: 0 0 0 20px;
  }

  .board24_line-button {
    @include jucs();
    a {
      width: 100%;
      height: 100%;
    }
  }
  .board24_person-cabinet__mark {
    position: relative;
  }
  .board24_plaha-big {
  }

  .board24_line-plaha {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 12px 20px 20px;
    .board24_button-color {
      a {
        width: 100%;
        height: 100%;
      }
    }

    .board24_line-plaha__miting {
      font-family: OpenSans;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      /* or 160% */

      text-align: right;
      letter-spacing: 0.2px;

      /* Neutral / Dark gray */

      color: #4c5862;
      opacity: 0.5;
    }
    h3 {
      width: 90%;
    }
    .board24_line-plaha__dark {
      font-family: OpenSans;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #4c5862;
    }

    .board24_line-plaha__light {
      font-family: OpenSans;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      /* or 154% */

      letter-spacing: 0.1px;

      /* Neutral / Dark gray */

      color: #4c5862;
      opacity: 0.5;
    }

    .board24_line-plaha__img1 {
      margin-left: 5px;
    }

    .board24_button-blue-small {
      margin: 8px 0 0 0;
    }
  }
}

// -----------------------------------------------
.header__menu_act {
  left: 95px !important;
  z-index: 300;
}
.board24_mob-person {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 150%;
  background: #ffffff;
  box-shadow: -6px 0px 18px rgba(0, 0, 0, 0.4);
  overflow: auto;
  transition: all 0.3s ease-out;
  .board24_person__body {
    @include fdc();
    @include jucs();
    padding: 20px 0 24px 22px;
    width: 100%;
    height: auto;
  }

  .board_24__mob-header {
    padding: 20px 0 30px 22px;
    @include jucb();
    transition: all 0.3s ease-out;
  }

  .board24_person-cabinet__line {
    position: relative;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    width: 100%;
    letter-spacing: 0.1px;

    /* Neutral / Black */
    @include alic();
    color: #192a3e;
    padding: 20px 0 0 0;
    &:first-child {
      padding: 0 0 0 0;
    }
  }

  .board24_person-cabinet__mark {
    position: relative;
    display: inline-block;
  }

  .board24_hr {
    height: 1px;
    width: 100%;
    background: #d3d8dd;
  }
  span.icon-meetings-1 {
    font-size: 14px;
    display: inline-block;
  }
  .board24_person-cabinet__set {
    padding: 146px 0 0 0;
  }
  .board24_point {
    margin: 0 0 0 14px;
  }
}

.board_24__mob-header_act {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.3);
  padding: 5px 15px 5px 22px !important;
  @include alic();
  transition: all 0.3s ease-out;
}

.board24_poup-assignment{
  &__body{
    background: #FFFFFF;
box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
border-radius: 4px;
    position: fixed;
    top:  0; left: 0;
    width: 343px;
height: 953px;
z-index: 1000;
display: none;
  }
}
