.board_24__mob-meetings {
.board24_mob-button_active-active{
  background: transparent;
  box-shadow: none;
  
}
.board24_mob-button_active-active > .board24_mob-button_company__title{
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06) ;
}

.board24_mob-button_active-active > .board24_mob-drop{
 box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06) ;
}


}