.board24__mob-2-employees{
.board24_mob-button_active-active{
  background: #fff !important;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06) ;
 .board24_mob-button_company__title{
box-shadow: none;
 }
.board24_mob-drop{
box-shadow: none;
}
}
.board24_mob-button_active-active  .board24_mob-button-small{
  .board24_mob-drop{
box-shadow: none;
}
}

&__content{

}

}



.board24__mob-2-content{
    padding: 33px 0 0 0;
  &__body{
  
  }
  &__point{
  font-family: OpenSans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #192A3E;
  }

.board24_avatar-name{
  margin: 10px 0 0 94px;
  &:first-child{
    margin: 37px 0 0 94px;
  }
&:last-child{
    margin: 10px 0 50px 94px;
  }
}
.board24__mob-1-employees__card{
margin: 0 0 50px 0;
}

  
}


.board24__mob-2-content__body{
  .board24__ml-1{
margin: 0 0 0 18px;
  }
  .board24__ml-2{
margin: 0 0 0 36px;
  }
  .board24__ml-3{
margin: 0 0 0 54px;
  }
  .board24__ml-4{
margin: 0 0 0 72px;
  }
  .board24__ml-5{

  }
  .board24__ml-6{

  }
}