.board24_stretsh-meet-1__line.board24_stretsh-meet-1__line_line5.board24_drop
            .board24_line1.board24_ts-3 Таким образом, дальнейшее развитие различных форм деятельности напрямую зависит от форм воздействия. Принимая во внимание показатели успешности... 
            .board24_m20
            .board24_line1.board24_line2.board24_jucb.board24_ts-3  
              .board24_text.board24_ts-24 Бюллетень
              +button-empty("За","#!")
              +button-empty("Против","#!")
              +button-blue("Воздержался","#!")
              a.board24_link.board24_auto(href="#!") 
                img(src="assets/img/meet/v-1.svg",alt="img") 
            .board24_m20
            .board24_stretsh-meet-1__line.board24_ts-24 Особое мнение
            .board24_inter-comments
              .board24_inter-comments__block
                .board24_inter-comments__plaha
                  p.board24_ts Lorem ipsum dolor sit amet, ut per pertassueverit, dissentias honestatis usu an. Ei vim feualiquando, mei enim insolens ut.
                  .board24_inter-plaza__link
                    img(src="assets/img/inter/edit.svg",alt="img") 
                  .board24_inter-comments__shef
                +chef() 
            .board24_inter-comments.board24_inter-comments_small.board24_m8  
              .board24_inter-comments__block
                .board24_inter-comments__plaha.board24_jucb
                  .board24_ts-46.board24_text Версия сохранена от 12:43, 11.09.2019
                  +button-blue-small("Сохранить особое мнение","home.html")
            

            .board24_middle-inter-4__box1.board24_inter-4-box1.board24_tab-js 
              .board24_inter-4-box1__tab.board24_alic
                span.board24_ts-24.board24_inter-4-box1__title Отчеты
                span.icon-arrow_drop_down
                .board24_inter-4-box1__drop
                  .board24_inter-4-box1__color-bar.board24_flex
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_scotch(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_scotch(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_blue(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_silver(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_silver(href="#!")
                  .board24_inter-4-box1__statistic.board24_alic   
                    span.board24_ts-2 Статус: 
                    .box1-statistic1.board24_ts-38 &nbsp 5 «За» |
                    .box1-statistic1.board24_ts-38 &nbsp 2 «Против» |
                    .box1-statistic1.board24_ts-38 &nbsp 1 «Воздержался» |
                    .box1-statistic1.board24_ts-38 &nbsp 2 еще не проголосовали
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Вопрос из заседания: 
                    span.board24_ts-25  &nbsp №331 Заседание Совета дир ...
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Категория:
                    span.board24_ts-9  &nbsp Корпоративное управление
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Дата:
                    span.board24_ts-9  &nbsp 12.02.2020 | 17:00
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Докладчик:
                    span.board24_ts-9 &nbsp Константинов Константин
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Отчет:
                    a.board24_inter-4-box1__link.board24_ts-29(href="#!") &nbsp Скачать 

            .board24_middle-inter-4__box2.board24_inter-4-box2.board24_tab-js
              .board24_inter-4-box2__title.board24_inter-4-box1__title.board24_ts-24 Задачи
                a.board24_link.board24_ts-29.board24_auto(href="#!") Добавить поручение
              span.icon-arrow_drop_down
              .board24_inter-4-box1__drop 
                .board24_inter-4-box2__menu.board24_flex
                  .board24_inter-4-box2__menu-item.board24_inter-4-box2__menu-item_active.board24_ts Список
                  .board24_inter-4-box2__menu-item.board24_ts Добавить новую задачу   
                  .board24_inter-4-box2__menu-item.board24_ts Привязать к существующей задаче     
                hr
                .board24_inter-4-box2__rezult.board24_ts-6 Нет активных задач 
                hr
                .board24_inter-4-box2__buttons.board24_flex
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="meeti7" value="1" id="meeti7")
                      label.board24_ts-11(for="meeti7") Для всех 
                  .board24_inter-4-box2__rect
                    span.icon-arrow_drop_down
                  +button-blue("Применить","#!")