include ../../common/mixins

section.board24_middle.board24_middle-group.board24_middle-meet-1.board24_middle-meet-2
  .board24_middle__body
    .board24_meet__nav.board24_meet-nav.board24_alic.board24_jucb  
      a.board24_return.board24_auto.board24_alic(href="#!") 
        span.board24_meet-nav__img
        span.board24_ts-44 Вернуться к заседанию
        
      a.board24_return.board24_return_revers.board24_alic.board24_auto(href="#!") 
        span.board24_ts-44 Следующий вопрос
        span.board24_meet-nav__img
    .board24_middle__plaza.board24_middle-plaza
      .board24_middle-plaza__body
        .board24_middle-plaza__stretsh.board24_stretsh-meet-1
          
          .board24_stretsh-meet-1__line.board24_stretsh-meet-1__line_line1.board24_jucs
            +button-color("Проведение","apple-green","#!")
            .board24_stretsh-meet-1__date.board24_ts-12 8:20 am, Aug 1, 2018
            a.board24_auto(href="#!")
              span.icon-edit

          .board24_stretsh-meet-1__line.board24_stretsh-meet-1__line_line3.board24_jucb.board24_alis
            .board24_left
              .board24_text.board24_alic
                span.board24_ts-34 Файлы:
                img(src="assets/img/meet/img-1.png",alt="img")
                span.board24_ts-14 Приложение №1 План работы СД на 2019 год — копия.docx
              a.board24_link.board24_ts-36(href="#!") Скачать все  файлы одним архивом
                +arrow-download
          
          hr.board24_m12

          .board24_stretsh-meet-1__line.board24_stretsh-meet-1__line_line4.board24_alic 
            .board24_title.board24_ts-34 Вопрос №1.
            .board24_ts-25 Докладчик
            //- +chef()
            .board24_chef__img-meet-2
              img(src="assets/img/main/image-1.png",alt="img") 
            +button-empty-grey("Корпоративное управление","#!")

          .board24_stretsh-meet-1__line.board24_ts-35.board24_m0 Описание вопроса

          .board24_stretsh-meet-1__line.board24_ts-34 
            span Утверждение Плана работы Совета директоров на 2020 год. 
            <br> 
            span Обеспечение нашей деятельности. Принятие решение 456 789 890 от 8 апреля 2020.
          .board24_m20 
          .board24_stretsh-meet-1__line
            +button-blue-small("Создать поручение","home.html")
          .board24_m20
                        //- ------------------------
          .board24_stretsh-meet-1__line.board24_stretsh-meet-1__line_line6.board24_alic.board24_jucs 
            .board24_ts-45 Проект решения №1.
            a.board24_expand.board24_ts-29.board24_auto(href="#!") Развернуть
            a.board24_collapse.board24_ts-29.board24_auto(href="#!") Свернуть
            a.board24_download.board24_ts-29.board24_auto(href="#!") Скачать прикрепленные материалы 
          //- include drop
          .board24_stretsh-meet-1__line.board24_stretsh-meet-1__line_line5.board24_drop
            .board24_line1.board24_ts-3 Таким образом, дальнейшее развитие различных форм деятельности напрямую зависит от форм воздействия. Принимая во внимание показатели успешности... 
            .board24_m20
            .board24_line1.board24_line2.board24_jucs.board24_ts-3  
              .board24_text.board24_ts-24 Бюллетень
              +button-empty("За","#!")
              +button-empty("Против","#!")
              //- +button-empty("Против","#!")
              +button-blue("Воздержался","#!")  
              a.board24_link(href="#!") 
                img(src="assets/img/meet/v-1.svg",alt="img") 
            .board24_m20
            .board24_stretsh-meet-1__line.board24_ts-24 Особое мнение
            .board24_inter-comments
              .board24_inter-comments__block
                .board24_inter-comments__plaha
                  //- p.board24_ts Lorem ipsum dolor sit amet, ut per pertassueverit, dissentias honestatis usu an. Ei vim feualiquando, mei enim insolens ut.
                  textarea.board24_bot__input.board24_bot__input_one.board24_ts( type="text"  placeholder=" Leave a note here ..." )
                  .board24_inter-plaza__link
                    img(src="assets/img/inter/edit.svg",alt="img") 
                  .board24_inter-comments__shef
                +chef() 
            .board24_inter-comments.board24_inter-comments_small.board24_m8  
              .board24_inter-comments__block
                .board24_inter-comments__plaha.board24_inter-comments__plaha_small.board24_jucb
                  .board24_ts-46.board24_text Версия сохранена от 12:43, 11.09.2019
                  +button-blue-small("Сохранить особое мнение","home.html")
            .board24_middle-inter-4__box1.board24_inter-4-box1.board24_tab-js 
              .board24_inter-4-box1__tab.board24_alic
                span.board24_ts-24.board24_inter-4-box1__title Отчеты
                span.icon-arrow_drop_down
                .board24_inter-4-box1__drop
                  .board24_inter-4-box1__color-bar.board24_flex
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_green(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_scotch(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_scotch(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_blue(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_silver(href="#!")
                    a.board24_box1-color-bar__item.board24_box1-color-bar__item_silver(href="#!")
                  .board24_inter-4-box1__statistic.board24_alic   
                    span.board24_ts-2 Статус: 
                    .box1-statistic1.board24_ts-38 &nbsp 5 «За» |
                    .box1-statistic1.board24_ts-38 &nbsp 2 «Против» |
                    .box1-statistic1.board24_ts-38 &nbsp 1 «Воздержался» |
                    .box1-statistic1.board24_ts-38 &nbsp 2 еще не проголосовали
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Вопрос из заседания: 
                    span.board24_ts-25  &nbsp №331 Заседание Совета дир ...
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Категория:
                    span.board24_ts-9  &nbsp Корпоративное управление
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Дата:
                    span.board24_ts-9  &nbsp 12.02.2020 | 17:00
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Докладчик:
                    span.board24_ts-9 &nbsp Константинов Константин
                  .board24_inter-4-box1__item
                    span.board24_ts-8 Отчет:
                    a.board24_inter-4-box1__link.board24_ts-29(href="#!") &nbsp Скачать 

            .board24_middle-inter-4__box2.board24_inter-4-box2.board24_tab-js
              .board24_inter-4-box2__title.board24_inter-4-box1__title.board24_ts-24 Задачи
                a.board24_link.board24_ts-29.board24_auto(href="#!") Добавить поручение
              span.icon-arrow_drop_down
              .board24_inter-4-box1__drop 
                .board24_inter-4-box2__menu.board24_flex
                  .board24_inter-4-box2__menu-item.board24_inter-4-box2__menu-item_active.board24_ts Список
                  .board24_inter-4-box2__menu-item.board24_ts Добавить новую задачу   
                  .board24_inter-4-box2__menu-item.board24_ts Привязать к существующей задаче     
                hr
                .board24_inter-4-box2__rezult.board24_ts-6 Нет активных задач 
                hr
                .board24_inter-4-box2__buttons.board24_flex
                  forma.board24_inter-forma.board24_flex 
                    .board24_flex.board24_inter-forma__item 
                      input.custom-checkbox(type="checkbox" name="meeti7" value="1" id="meeti7")
                      label.board24_ts-11(for="meeti7") Для всех 
                  .board24_inter-4-box2__rect
                    span.icon-arrow_drop_down
                  +button-blue("Применить","#!")
                        //- ------------------------
