include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings.board24_middle-gant.board24_middle-about-news.board24_middle-about-requisites
  .board24_meet__body
    .board24_meet__nav.board24_meet-nav.board24_jucb.board24_mission-nav 
      .board24_meet-nav__body.board24_flex.board24_alic
        h2 Компания

    
    .board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__title.board24_ts-22 Реквизиты
          p.board24_ts-34.board24_m12 «Акционерное Общество «QAZTECH VENTURES»
          p.board24_ts-34 Находящееся по адресу: Республика Казахстан, Z05T3E2,
          p.board24_ts-34 город Нур-Султан, район Есиль, проспект Мангилик Ел, здание 55 А.
          p.board24_ts-34 ИИК (KZT):  № KZ656010111000159021
          p.board24_ts-34 Банк: АО «Народный Банк Казахстана»
          p.board24_ts-34 БИН: 120 340 015 082
          p.board24_ts-34 РНН: 620 500 014 382








