include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings.board24_middle-gant.board24_middle-about-indicators
  .board24_meet__body
    .board24_meet__nav.board24_meet-nav.board24_jucb.board24_mission-nav 
      .board24_meet-nav__body.board24_flex.board24_alic
        h2 Компания
    .board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__title.board24_ts-22 Ключевые показатели компании
        .board24_meet-content__info.board24_info
          .board24_info__body
            .board24_info__img
              .board24_ibg.board24_bg
                img(src="assets/img/about-indicators/img-1.png",alt="img") 
            +button-arrow("Скачать","#!") 
        .board24_meet-content__info.board24_info
          .board24_info__body
            .board24_info__img
              .board24_ibg.board24_bg
                img(src="assets/img/about-indicators/i-1.png",alt="img") 
            +button-arrow("Скачать","#!") 
        .board24_meet-content__info.board24_info
          .board24_info__body
            .board24_info__img.board24_info__img_natural
              img(src="assets/img/about-indicators/img-2.png",alt="img") 
            +button-arrow("Скачать","#!") 
        .board24_meet-content__info.board24_meet-content__info_last.board24_info
          .board24_info__body
            .board24_info__title.board24_ts Количество заседаний в 2020 году
            .board24_info__plaza
              .board24_info__img.board24_info__img_last
                .board24_ibg.board24_bg
                  img(src="assets/img/main/image-2.png",alt="img") 
              .board24_info__legend
            .board24_button-arrow.board24_button-arrow__last 
              a.board24_button-arrow__link(href="#!") Скачать 
                .board24_line-plaha__img1
                  img(src="assets/img/main/Vector-1.svg",alt="img")
                  img(src="assets/img/main/Vector-2.svg",alt="img") 


