include ../../common/mixins

//- section.board24_middle-inter-1
//-   //- .board24_middle__body
//-   //-   .board24_middle__plaza.board24_middle-plaza
//-   //-     .board24_middle-plaza__body.board24_stretch-group-js
//-   //-       .board24_middle-plaza__stretsh 
//-   span.board24_cross.icon-close2
//-   .board24_tab-item__question
//-     .board24_middle-inter-1__title.t24 Опрос 
//-     .board24_middle-inter-1__disiption 1. Опрос о приобретении дополнительного оборудования
//-     hr
//-     .board24_question-drop-down__title
//-       +avatar-name()
//-     form.board24_question-drop-down__check
//-       .board24_question-drop-down__text 1. Вопрос о приобритении дополнительного оборудования
//-       .board24_plaha 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="1"       id="inter-11")
//-           label(for="inter-11") За  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="2"       id="inter-12") 
//-           label(for="inter-12") Против 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="3"       id="inter-13") 
//-           label(for="inter-13") Воздержался 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="4"       id="inter-14") 
//-           label(for="inter-14") Дополнительный вариант ответа  
//-       .board24_question-drop-down__text 2. Вопрос о приобритениидополнительного оборудования
//-       .board24_plaha
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="5"   id="inter-15")
//-           label(for="inter-15") За  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="6"   id="inter-16") 
//-           label(for="inter-16") Против 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="7"   id="inter-17") 
//-           label(for="inter-17") Воздержался 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="8"   id="inter-18") 
//-           label(for="inter-18") Дополнительный вариант ответа  
//-         .board24_button-blue
//-           input.board24_submit(type="submit" value="Голосовать")  
//-     a.board24_tab-item__look Смотреть результаты

//- //- ---------------------

//- section.board24_middle-inter-1.board24_middle-inter-2
//-   span.board24_cross.icon-close2
//-   .board24_tab-item__question
//-     .board24_middle-inter-1__title.t24 Опрос 
//-     .board24_middle-inter-1__disiption 1. Опрос о приобретении дополнительного оборудования
//-     hr
//-     .board24_question-drop-down__title
//-       +avatar-name()
//-     form.board24_question-drop-down__check
//-       .board24_question-drop-down__text 1.Обеспечение ссоблюдения внутренних процедур заседаний Наблюдательного Совета и комитетов при Наблюдательном Совете Банка.
//-       .board24_question-drop-down__text1 Оцените ваше согласие с утверждениями по 5-бальной шкале. 1 — совершенно не согласен; 5 — полностью согласен.
//-       .board24_plaha 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="1"       id="inter-19")
//-           label(for="inter-19") 1  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="2"       id="inter-20") 
//-           label(for="inter-20") 2 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="3"       id="inter-21") 
//-           label(for="inter-21") 3 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="4"       id="inter-22") 
//-           label(for="inter-22") 4  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="4"       id="inter-23") 
//-           label(for="inter-23") 5  
//-       .board24_question-drop-down__text 2. Решение организационных вопросов, связанных с проведением заседаний Наблюдательного Совета Банка и коммитетов при Наблюдательном совете Банка.
//-       .board24_question-drop-down__text1 Оцените ваше согласие с утверждениями по 5-бальной шкале. 1 — совершенно не согласен; 5 — полностью согласен.
//-       .board24_plaha
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="5"   id="inter-24")
//-           label(for="inter-24") 1  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="6"   id="inter-25") 
//-           label(for="inter-25") 2 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="7"   id="inter-26") 
//-           label(for="inter-26") 3 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="8"   id="inter-27") 
//-           label(for="inter-27") 4  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="9"   id="inter-28") 
//-           label(for="inter-28") 5  
//-         .board24_button-blue
//-           input.board24_submit(type="submit" value="Голосовать")  
//-     a.board24_tab-item__look Смотреть результаты


//- //- --------------------
//- section.board24_middle-inter-1.board24_middle-inter-2.board24_middle-inter-3
//-   span.board24_cross.icon-close2
//-   .board24_tab-item__question
//-     .board24_middle-inter-1__title.t24 Опрос 
//-     .board24_middle-inter-1__disiption 1. Опрос о приобретении дополнительного оборудования
//-     hr
//-     .board24_question-drop-down__title
//-       +avatar-name()
//-     .board24_question-drop-down__check
//-       .board24_question-drop-down__text 1.Обеспечение ссоблюдения внутренних процедур заседаний Наблюдательного Совета и комитетов при Наблюдательном Совете Банка.
//-       .board24_plaza-comments
//-         .board24_plaza-comments__body
//-           .board24_plaza-comments__title Ответ 
//-           .board24_plaza-comments__plaza
//-             .board24_plaza-comments__text-area Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus accusantium maiores deserunt aut? Amet optio enim corporis. Fugit illo impedit libero minus, aperiam mollitia quia ad dignissimos, consequatur nulla rerum?
//-               img.board24_inter-plaza__link(src="assets/img/inter/edit.svg",alt="img")  
//-             +chef()
     
//-       .board24_question-drop-down__text 2. Решение организационных вопросов, связанных с проведением заседаний Наблюдательного Совета Банка и коммитетов при Наблюдательном совете Банка.
//-       .board24_plaza-comments
//-         .board24_plaza-comments__body
//-           .board24_plaza-comments__title Ответ 
//-           .board24_plaza-comments__plaza
//-             .board24_plaza-comments__text-area Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos accusamus possimus blanditiis, officia labore tempora libero maiores eveniet sapiente laudantium quia sed praesentium iusto cumque temporibus, hic, iure voluptatum doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa at corporis explicabo nesciunt ex. Dolorem quod deleniti ipsum veniam.
//-               img.board24_inter-plaza__link(src="assets/img/inter/edit.svg",alt="img")  
//-             +chef()
//-       .board24_button-blue
//-           input.board24_submit(type="submit" value="Голосовать") 
//-     a.board24_tab-item__look Смотреть результаты


//- ---------------------------------------
//- section.board24_middle-inter-2.board24_middle-inter-4
//-   span.board24_cross.icon-close2
//-   .board24_middle-inter-4__title Собрание совета директоров по центральному региону от 13.11.19
//-   .board24_area1 
//-     .board24_area1__text <span>Leave a note here ..</span> Loipsum dolor sit, amet   consectetur adipisicing elDoloremque eligendi quibusdam hic, dolorem, laboriosam  vullam blanditiis labore ex quo autem, dolores similisapiente quod. Officia saepe  autem delectus perspiciatis!
//-     .board24_jucb
//-       .board24_jucb
//-         a.board24_area1__img(href="#!") 
//-           img(src="assets/img/inter/vt-1.svg",   alt="img")
//-         a.board24_area1__img(href="#!")
//-           img(src="assets/img/inter/vt-2.svg",   alt="img")
//-         a.board24_area1__img(href="#!")
//-           img(src="assets/img/inter/vt-3.svg",   alt="img")
//-       .board24_flex
//-         .board24_area1__button 
//-           +button-color-cub("Отменить","pale-grey","#!")
//-         .board24_area1__button
//-           +button-color-cub("Сохранить","silver","#!")
//-   .board24_middle-inter-4__c1.board24-corvet
//-     .board24-corvet__text Кому
//-     .board24-corvet__text-area 
//-       .board24-corvet__in-text Добавить
//-   .board24_middle-inter-4__p1.board24_inter-plaza
//-     .board24-corvet.board24-corvet_dark
//-       .board24-corvet__text Вопрос №1
//-       .board24-corvet__text-area 
//-         .board24-corvet__in-text_dark Вопрос решения проекта для совета директоров
//-         .board24-corvet__link(href="#!")
//-           img(src="assets/img/inter/edit.svg",alt="img") 
//-     .board24-corvet.board24-corvet_dark.board24_mar60
//-       .board24-corvet__text Ответ №1
//-       .board24-corvet__text-area 
//-         .board24-corvet__in-text_dark Проект решение №1
//-         .board24-corvet__link(href="#!")
//-           img(src="assets/img/inter/edit.svg",alt="img") 
//-     .board24-corvet.board24-corvet_dark.board24_mar60
//-       .board24-corvet__text Ответ №2
//-       .board24-corvet__text-area 
//-         .board24-corvet__in-text_dark Проект решение от 12.08.11
//-         .board24-corvet__link(href="#!")
//-           img(src="assets/img/inter/edit.svg",alt="img")  
//-   .board24_middle-inter-4__p2.board24_inter-plaza  
//-     .board24-corvet.board24-corvet_dark
//-       .board24-corvet__text Вопрос №2
//-       .board24-corvet__text-area 
//-         .board24-corvet__in-text_dark Вопрос решения проекта для совета директоров
//-         .board24-corvet__link(href="#!")
//-           img(src="assets/img/inter/edit.svg",alt="img") 
//-     .board24-corvet.board24-corvet_dark.board24_mar60
//-       .board24-corvet__text Ответ №1
//-       .board24-corvet__text-area 
//-         .board24-corvet__in-text_dark Проект решение №1
//-         .board24-corvet__link(href="#!")
//-           img(src="assets/img/inter/edit.svg",alt="img") 
//-     .board24-corvet.board24-corvet_dark.board24_mar60
//-       .board24-corvet__text Ответ №2
//-       .board24-corvet__text-area 
//-         .board24-corvet__in-text_dark Проект решение от 12.08.11
//-         .board24-corvet__link(href="#!")
//-           img(src="assets/img/inter/edit.svg",alt="img")
//-   .board24_middle-inter-4__buttons.board24_jucs.board24_alic.g
//-     +button-blue("+ Добавить вопрос","#!")
//-     +button-empty("Добавить из поручения","#!")
//-     +button-empty("Добавить из заседания","#!")
//-     +button-empty("+ Вопросы вне повестки","#!")
//-   .board24_middle-inter-4__k1.board24_inter-comments
//-     .board24_inter-comments__title Комментарии
//-     .board24_inter-comments__block
//-       .board24_inter-comments__plaha
//-         p Lorem ipsum dolor sit amet, ut per pertinax assueverit, dissenthonestatis usu an. Ei vim feugait aliquando, mei enim insolens ut.
//-         .board24_inter-plaza__link
//-           img(src="assets/img/inter/edit.svg",alt="img") 
//-       .board24_inter-comments__shef
//-         +chef()
//-   +button-blue("Начать заседание","#!") 


//- ----------------------------------------------------------------
section.board24_middle-inter-2.board24_middle-inter-5.board24_middle-inter

      .board24_middle__plaza.board24_middle-plaza
      .board24_middle-plaza__body
        .board24_middle-plaza__stretsh
          .board24_inter__header Новое поручение
          //- inter-plaza
          .board24_inter__plaza.board24_inter-plaza
            .board24_inter-plaza__header Название поручения
            .board24_inter-plaza__discription Поручение №1234567890
              forma.board24_inter-forma.board24_flex  
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="inter" value="1" id="yes")
                label.board24_text-small-blue(for="yes") Сохранить как шаблон
            hr
            //- area1
            .board24_inter-plaza__text-area1.board24_area1 
              .board24_area1__text Leave a note here
              .board24_jucb
                .board24_jucb
                  a.board24_area1__img(href="#!") 
                    img(src="assets/img/inter/vt-1.svg",   alt="img")
                  a.board24_area1__img(href="#!")
                    img(src="assets/img/inter/vt-2.svg",   alt="img")
                  a.board24_area1__img(href="#!")
                    img(src="assets/img/inter/vt-3.svg",   alt="img")
                .board24_flex
                  .board24_area1__button 
                    +button-color-cub("Отменить","pale-grey","#!")
                  .board24_area1__button
                    +button-color-cub("Сохранить","silver","#!")
            //- corvet
            .board24_inter-plaza__corvet1.board24-corvet
              .board24-corvet__text Ответственный
              .board24-corvet__text-area 
                .board24-corvet__in-text Добавить еще
            //- corvet
            .board24_inter-plaza__corvet1.board24-corvet
              .board24-corvet__text Ответственный
              .board24-corvet__text-area 
                .board24-corvet__in-text Добавить еще
            //- corvet
            .board24_inter-plaza__corvet1.board24-corvet
              .board24-corvet__text Ответственный
              .board24-corvet__text-area 
                .board24-corvet__in-text Добавить еще
            //- corvet
            .board24_inter-plaza__corvet1.board24-corvet
              .board24-corvet__text Ответственный
              .board24-corvet__text-area 
                .board24-corvet__in-text Добавить еще
            
            //- bots
            .board24_inter-plaza__bots.board24-corvet.board24-bots
              .board24-corvet__text 
              .board24-corvet__text-area
                //- bot
                .board24_bot
                  .board24_bot__text Крайний <br> срок
                  .board24_bot__text-area
                    .board24_bot__in-text 01.01.2000
                    img(src="assets/img/inter/schedule.svg",alt="img")
                //- bot
                .board24_bot
                  .board24_bot__text Планирование сроков
                  .board24_bot__text-area 
                    .board24_bot__in-text-blue
                      p Дополнительно 
                      span.icon-arrow_drop_down

            //- corvet
            .board24_inter-plaza__corvet1.board24-corvet
              .board24-corvet__text Ответственный
              .board24-corvet__text-area 
                .board24-corvet__in-text Добавить еще
          
          .board24_inter__buttons.board24_jucs
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="inter" value="1" id="yes")
                label.board24_text-small-blue(for="yes") Сохранить как шаблон
            +button-empty("Отменить","#!") 
            +button-blue("Поставить поручение","#!")