include ../../common/mixins

//- section.board24_middle-inter-1
//-   //- .board24_middle__body
//-   //-   .board24_middle__plaza.board24_middle-plaza
//-   //-     .board24_middle-plaza__body.board24_stretch-group-js
//-   //-       .board24_middle-plaza__stretsh 
//-   span.board24_cross.icon-close2
//-   .board24_tab-item__question
//-     .board24_middle-inter-1__title.t24 Опрос 
//-     .board24_middle-inter-1__disiption 1. Опрос о приобретении дополнительного оборудования
//-     hr
//-     .board24_question-drop-down__title
//-       +avatar-name()
//-     form.board24_question-drop-down__check
//-       .board24_question-drop-down__text 1. Вопрос о приобритении дополнительного оборудования
//-       .board24_plaha 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="1"       id="inter-11")
//-           label(for="inter-11") За  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="2"       id="inter-12") 
//-           label(for="inter-12") Против 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="3"       id="inter-13") 
//-           label(for="inter-13") Воздержался 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-14"  value="4"       id="inter-14") 
//-           label(for="inter-14") Дополнительный вариант ответа  
//-       .board24_question-drop-down__text 2. Вопрос о приобритениидополнительного оборудования
//-       .board24_plaha
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="5"   id="inter-15")
//-           label(for="inter-15") За  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="6"   id="inter-16") 
//-           label(for="inter-16") Против 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="7"   id="inter-17") 
//-           label(for="inter-17") Воздержался 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-18"    value="8"   id="inter-18") 
//-           label(for="inter-18") Дополнительный вариант ответа  
//-         .board24_button-blue
//-           input.board24_submit(type="submit" value="Голосовать")  
//-     a.board24_tab-item__look Смотреть результаты


//- --------------------
//- section.board24_middle-inter-1.board24_middle-inter-2
//-   span.board24_cross.icon-close2
//-   .board24_tab-item__question
//-     .board24_middle-inter-1__title.t24 Опрос 
//-     .board24_middle-inter-1__disiption 1. Опрос о приобретении дополнительного оборудования
//-     hr
//-     .board24_question-drop-down__title
//-       +avatar-name()
//-     form.board24_question-drop-down__check
//-       .board24_question-drop-down__text 1.Обеспечение ссоблюдения внутренних процедур заседаний Наблюдательного Совета и комитетов при Наблюдательном Совете Банка.
//-       .board24_question-drop-down__text1 Оцените ваше согласие с утверждениями по 5-бальной шкале. 1 — совершенно не согласен; 5 — полностью согласен.
//-       .board24_plaha 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="1"       id="inter-19")
//-           label(for="inter-19") 1  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="2"       id="inter-20") 
//-           label(for="inter-20") 2 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="3"       id="inter-21") 
//-           label(for="inter-21") 3 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="4"       id="inter-22") 
//-           label(for="inter-22") 4  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-23"  value="4"       id="inter-23") 
//-           label(for="inter-23") 5  
//-       .board24_question-drop-down__text 2. Решение организационных вопросов, связанных с проведением заседаний Наблюдательного Совета Банка и коммитетов при Наблюдательном совете Банка.
//-       .board24_question-drop-down__text1 Оцените ваше согласие с утверждениями по 5-бальной шкале. 1 — совершенно не согласен; 5 — полностью согласен.
//-       .board24_plaha
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="5"   id="inter-24")
//-           label(for="inter-24") 1  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="6"   id="inter-25") 
//-           label(for="inter-25") 2 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="7"   id="inter-26") 
//-           label(for="inter-26") 3 
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="8"   id="inter-27") 
//-           label(for="inter-27") 4  
//-         .board24_flex
//-           input.custom-checkbox(type="radio"  name="inter-28"    value="9"   id="inter-28") 
//-           label(for="inter-28") 5  
//-         .board24_button-blue
//-           input.board24_submit(type="submit" value="Голосовать")  
//-     a.board24_tab-item__look Смотреть результаты


//- --------------------
section.board24_middle-inter-1.board24_middle-inter-2.board24_middle-inter-3
  span.board24_cross.icon-close2
  .board24_tab-item__question
    .board24_middle-inter-1__title.t24 Опрос 
    .board24_middle-inter-1__disiption 1. Опрос о приобретении дополнительного оборудования
    hr
    .board24_question-drop-down__title
      +avatar-name()
    .board24_question-drop-down__check
      .board24_question-drop-down__text 1.Обеспечение ссоблюдения внутренних процедур заседаний Наблюдательного Совета и комитетов при Наблюдательном Совете Банка.
      .board24_plaza-comments
        .board24_plaza-comments__body
          .board24_plaza-comments__title Ответ 
          .board24_plaza-comments__plaza
            .board24_plaza-comments__text-area Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus accusantium maiores deserunt aut? Amet optio enim corporis. Fugit illo impedit libero minus, aperiam mollitia quia ad dignissimos, consequatur nulla rerum?
              img.board24_inter-plaza__link(src="assets/img/inter/edit.svg",alt="img")  
            +chef()
     
      .board24_question-drop-down__text 2. Решение организационных вопросов, связанных с проведением заседаний Наблюдательного Совета Банка и коммитетов при Наблюдательном совете Банка.
      .board24_plaza-comments
        .board24_plaza-comments__body
          .board24_plaza-comments__title Ответ 
          .board24_plaza-comments__plaza
            .board24_plaza-comments__text-area Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos accusamus possimus blanditiis, officia labore tempora libero maiores eveniet sapiente laudantium quia sed praesentium iusto cumque temporibus, hic, iure voluptatum doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa at corporis explicabo nesciunt ex. Dolorem quod deleniti ipsum veniam.
              img.board24_inter-plaza__link(src="assets/img/inter/edit.svg",alt="img")  
            +chef()
      .board24_button-blue
          input.board24_submit(type="submit" value="Голосовать") 
    a.board24_tab-item__look Смотреть результаты
