include ../utils/mixins.pug

doctype html
html
  head
    title Board_24 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   

  body#board24_body.board_body
    div.board24_wrapper
      main.board24_page
        block header
        block content
        block footer