include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings.board24_middle-gant.board24_middle-about-news
  .board24_meet__body
    .board24_meet__nav.board24_meet-nav.board24_jucb.board24_mission-nav 
      .board24_meet-nav__body.board24_flex.board24_alic
        h2 Компания

    
    .board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__title.board24_ts-22 Новости компании
        .board24_meet-content__new
          .board24_ts-35 PR | 13.08.2019
          .board24_ts-34 QaztechVentures подписал меморандум с Boundless Group
          .board24_meet-content__line.board24_jucs
            .board24_meet-content__img
              .board24_ibg.board24_bg 
                img(src="assets/img/about-news/img-1.png",alt="img")
            .board24_meet-content__text.board24_ts-9 Соглашение подразумевает дальнейшее сотрудничество, направленное на развитие и интеграцию отечественных стартапов в глобальную экосистему инноваций. Миссия Boundless Group заключается в том, что наши программисты получат возможность разрабатывать инновационные продукты в Кремниевой Долине, где помимо стандартных тренингов, у разработчиков появится уникальная возможность перенимать опыт, дисциплину, профессионализм и предпринимательские навыки у американских коллег.
        .board24_meet-content__new
          .board24_ts-35 PR | 13.08.2019
          .board24_ts-34 QTV налаживает сотрудничество с Сингапуром
          .board24_meet-content__line.board24_jucs
            .board24_meet-content__img
              .board24_ibg.board24_bg 
                img(src="assets/img/about-news/img-2.png",alt="img")
            .board24_meet-content__text.board24_ts-9 Заместитель Председателя Правления АО «QazTech Ventures» Медет Дюсембаев в ходе рабочей поездки в Сингапур провел деловые встречи с представителями ведущих инновационных компаний таких как, IPI Singapore, Crimson Logic и Enterprise Singapore.
        .board24_meet-content__new
          .board24_ts-35 PR | 13.08.2019
          .board24_ts-34 Избран глава АО "QazTech Ventures"
          .board24_meet-content__line.board24_jucs
            .board24_meet-content__text.board24_ts-9 Решением Единственного акционера в лице АО «Национальный управляющий холдинг «Байтерек» Председателем Правленияи членом Совета директоров АО «QazTech Ventures» избран Шаймарданов Жандос Нурланович.

