include ../../common/mixins

section#person.board24_person.board24_person-meet.board24_person-meet-meeting.board24_person-about-news
  .board24_person__body
    +button-blue("Создать заседание","#!")
    .board24_person__cabinet.board24_m15.board24_person-cabinet
      .board24_person-cabinet__body.board24_fdc
        .board24_ts-34 Новости компании
        .board24_ts-34 Совет директоров
        .board24_ts-34 Топ–менеджмент
        .board24_ts-34 Ключевые показатели
        .board24_m15
        .board24_ts.board24_alic
          span Компания сегодня
        .board24_ts.board24_alic 
          span Реквизиты
        .board24_ts.board24_alic 
          span Контакты
        .board24_person-cabinet__set.board24_ts-48.board24_alic 
          span.icon-meetings-1
            span.path1
            span.path2
          span.board24_point Настроить меню
