.board24_ts .board24_ts
.board24_ts-2 .board24_ts-2
.board24_ts-3 .board24_ts-3
.board24_ts-6 .board24_ts-6
.board24_ts-5 .board24_ts-5 
.board24_ts-7 .board24_ts-7
.board24_ts-7-b .board24_ts-7-b
.board24_ts-20 .board24_ts-20
.board24_ts-22 .board24_ts-22
.board24_ts-25 .board24_ts-25
.board24_ts-29 .board24_ts-29
.board24_ts-4 .board24_ts-4
.board24_ts-33.b .board24_ts-33 

hr

span.icon-arrow_drop_down span.icon-arrow_drop_down
//- &nbsp