mixin button-blue(text)
  .button.button-blue
    a.button-blue__link(href="#!")=text

mixin button-color(text, color)
  div(class="board24_button-color" + " "+ color)
    a(href="#!")=text

mixin button-color-cub(text, color)
  div(class="board24_button-color-cub" + " " + color)
    a(href="#!")=text    

mixin button-blue-small(text)
  .button.button-blue-small
    a.button-blue-small__link(href="#!")=text