include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet.board24_middle-meet-1.board24_middle-meetings.board24_middle-mission
  .board24_meet__body
    include mission-nav 
    .board24_meet__content.board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__line.board24_meet-content__line_high.meet-content-line 
          .meet-content-line__body.board24_jucs.board24_alic 
            .meet-content-line__text.board24_ts-22 Мой план
        .board24_meet-content__line.board24_meet-content__line_high.meet-content-line 
          .meet-content-line__body.board24_jucs.board24_alic 
            .meet-content-line__item.board24_jucs
              .board24_ts-11 Не спалнированы
              .board24_100
              .board24_ts-49 3 задачи
            .meet-content-line__item.meet-content-line__item_mid.board24_jucs
              .board24_ts-11 Сделаю на следующей неделе
              .board24_100
              .board24_ts-49 2 задачи
            .meet-content-line__item.board24_jucs
              .board24_ts-11 Новый фильтр
              .board24_100
              .board24_ts-49 1 задача
        .board24_meet-content__items.board24_jucb.board24_meet-content-items
          .board24_meet-content-items__column.board24_fdc
            .meet-content-line__tab
              .board24_ts-47.board24_jucb Skype 
                span.board24_point.icon-more
              .board24_ts-35 December 22, 2018
              .board24_ts-38.board24_m3 Заседение директоров№123   456 789...
              a.board24_avatar-name.board24_alic.board24_auto(href="#!")
                img(src="assets/img/main/image-1.png",alt="img")
                .board24_board24_avatar-name__name
                  span.board24_ts-12 George Fields
                  br
                  span.board24_ts-41 Совет директоров 
            .meet-content-line__tab
              .board24_ts-47.board24_jucb Skype 
                span.board24_point.icon-more
              .board24_ts-35 December 22, 2018
              .board24_ts-38.board24_m3 Заседение директоров№123   456 789...
              a.board24_avatar-name.board24_alic.board24_auto(href="#!")
                img(src="assets/img/main/image-1.png",alt="img")
                .board24_board24_avatar-name__name
                  span.board24_ts-12 George Fields
                  br
                  span.board24_ts-41 Совет директоров 
            .meet-content-line__tab
              .board24_ts-47.board24_jucb Skype 
                span.board24_point.icon-more
              .board24_ts-35 December 22, 2018
              .board24_ts-38.board24_m3 Заседение директоров№123   456 789...
              a.board24_avatar-name.board24_alic.board24_auto(href="#!")
                img(src="assets/img/main/image-1.png",alt="img")
                .board24_board24_avatar-name__name
                  span.board24_ts-12 George Fields
                  br
                  span.board24_ts-41 Совет директоров 
          .board24_meet-content-items__column.board24_fdc
            .meet-content-line__tab
              .board24_ts-47.board24_jucb Skype 
                span.board24_point.icon-more
              .board24_ts-35 December 22, 2018
              .board24_ts-38.board24_m3 Заседение директоров№123   456 789...
              a.board24_avatar-name.board24_alic.board24_auto(href="#!")
                img(src="assets/img/main/image-1.png",alt="img")
                .board24_board24_avatar-name__name
                  span.board24_ts-12 George Fields
                  br
                  span.board24_ts-41 Совет директоров 
            .meet-content-line__tab
              .board24_ts-47.board24_jucb Skype 
                span.board24_point.icon-more
              .board24_ts-35 December 22, 2018
              .board24_ts-38.board24_m3 Заседение директоров№123   456 789...
              a.board24_avatar-name.board24_alic.board24_auto(href="#!")
                img(src="assets/img/main/image-1.png",alt="img")
                .board24_board24_avatar-name__name
                  span.board24_ts-12 George Fields
                  br
                  span.board24_ts-41 Совет директоров 
          .board24_meet-content-items__column.board24_fdc
            .meet-content-line__tab
              .board24_ts-47.board24_jucb Skype 
                span.board24_point.icon-more
              .board24_ts-35 December 22, 2018
              .board24_ts-38.board24_m3 Заседение директоров№123   456 789...
              a.board24_avatar-name.board24_alic.board24_auto(href="#!")
                img(src="assets/img/main/image-1.png",alt="img")
                .board24_board24_avatar-name__name
                  span.board24_ts-12 George Fields
                  br
                  span.board24_ts-41 Совет директоров 

