
.board24_meet__nav.board24_meet-nav.board24_jucb.board24_mission-nav 
  .board24_meet-nav__body.board24_flex.board24_alic.border 
    h2 Поручения
    .board24_mission-nav__filter.board24_point
      span.icon-Vector
      .board24_ts-8 Фильтр + поиск
    +button-empty("Найти","#!")